<!DOCTYPE html>
<html lang="de">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Osterwalder.com</title>
	<!-- include the site stylesheet -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
	<link media="all" rel="stylesheet" href="css/all.css">
</head>
<body class="dark-theme">
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<!-- container for mobile menu -->
		<div class="w1">
			<!-- header of the page -->
			<header id="header">
				<div class="header-block">
					<div class="container">
						<!-- page logo -->
						<div class="logo"><a href="#"><img src="images/logo.png" alt="Logo"></a></div>
						<div class="set-lang">
							<a href="#" class="selected">DE</a>
							<ul>
								<li><a href="#">Deutsch</a></li>
								<li><a href="#">Francais</a></li>
								<li><a href="#">English</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- main navigation of the page -->
				<nav class="navigation">
					<a href="#" class="nav-opener"><span>Menu</span></a>
					<div class="container">
						<ul id="nav">
							<li><a href="#">LinK</a></li>
							<li>
								<a href="#">hiereinlink</a>
								<ul>
									<li>
										<a href="#">Subnavigation 1</a>
										<ul>
											<li><a href="#">Subsubnavigationspunkt</a></li>
											<li><a href="#">nocheinnavipunkt</a></li>
											<li><a href="#">navigationspunktdrei</a></li>
											<li><a href="#">derviertepunkt</a></li>
											<li><a href="#">nocheinnavigationspunkt</a></li>
											<li><a href="#">derletzteeintrag</a></li>
										</ul>
									</li>
									<li><a href="#">zweiter Navigationspunkt</a></li>
									<li><a href="#">Navgationspunkt</a></li>
									<li><a href="#">letzter navipunkt  zur not auf zwei zeilen</a></li>
								</ul>
							</li>
							<li><a href="#">linkdrei</a></li>
							<li><a href="#">einlink</a></li>
							<li><a href="#">Letzterlink</a></li>
						</ul>
						<div class="mobile-block">
							<!-- search form -->
							<form class="search-form" action="#">
								<fieldset>
									<input type="search" placeholder="Suchbegriff">
									<input type="submit" value="GO">
								</fieldset>
							</form>
							<ul class="q-links">
								<li><a href="#">Kontakt</a></li>
								<li><a href="#">Impressum</a></li>
								<li><a href="#">AGBs</a></li>
								<li><a href="#">Sitemap</a></li>
							</ul>
							<div class="address-info">
								<strong>Firmenname</strong>
								<address>
									Strassenname 3 
									<br>8888 Ortschaftsname
									<br><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;">&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;</a>
								</address>
								<a href="#" class="btn">Tel. +41 44 123 45 67</a>
							</div>
						</div>
					</div>
				</nav>
			</header>
			<!-- contain main informative part of the site -->
			<main role="main" id="main">
				<!-- main slideshow -->
				<div class="slideshow">
					<div class="mask">
						<div class="slideset">
							<div class="slide">
								<div class="img-holder"><img src="images/img-01.jpg" alt="image description"> </div>
								<div class="text">
									<div class="container">
										<h1>Titelzeile Website</h1>
										<p><span>Hier die Unterzeile zur Website oder Firma</span></p>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="img-holder"><img src="images/img-01.jpg" alt="image description"> </div>
								<div class="text">
									<div class="container">
										<h1>Titelzeile Website</h1>
										<p><span>Hier die Unterzeile zur Website oder Firma</span></p>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="img-holder"><img src="images/img-01.jpg" alt="image description"> </div>
								<div class="text">
									<div class="container">
										<h1>Titelzeile Website</h1>
										<p><span>Hier die Unterzeile zur Website oder Firma</span></p>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="img-holder"><img src="images/img-01.jpg" alt="image description"> </div>
								<div class="text">
									<div class="container">
										<h1>Titelzeile Website</h1>
										<p><span>Hier die Unterzeile zur Website oder Firma </span></p>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="img-holder"><img src="images/img-01.jpg" alt="image description"> </div>
								<div class="text">
									<div class="container">
										<h1>Titelzeile Website</h1>
										<p><span>Hier die Unterzeile zur Website oder Firma</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="switcher"></div>
					</div>
				</div>
				<!-- intro columns section -->
				<div class="intro-section">
					<div class="container">
						<div class="headline">
							<h2><a href="#">Titelzeile der Newsmeldung</a></h2>
							<p><time datetime="07-19">19.07.2014</time> Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit qui quibearum que. <a class="more" href="#">mehr</a></p>
						</div>
						<div class="holder">
							<div class="col col-2">
								<div class="post">
									<a href="#"><img src="images/img-03.jpg" alt="image description"></a>
									<div class="content">
										<h2><a href="#">Hier ein Titel zum Text</a></h2>
										<p><time datetime="01-01">19.07.2014</time> Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiecducia eosae aut enda savit qui quibearsae aut enda sa sae etur sandit qui que. <a class="more" href="#">mehr</a></p>
									</div>
								</div>
							</div>
							<div class="col col-2">
								<div class="post">
									<a href="#"><img src="images/img-04.jpg" alt="image description"></a>
									<div class="content">
										<h2><a href="#">Titelzeile zum Text</a></h2>
										<p><time datetime="01-01">19.07.2014</time> Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiecducia eosae aut enda savit qui quibearsae aut enda sa sae etur sandit qui que. <a class="more" href="#">mehr</a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="holder">
							<div class="col">
								<div class="post">
									<a href="#"><img src="images/img-05.jpg" alt="image description"></a>
									<div class="content">
										<h2><a href="#">Hier ein Titel zum Text</a></h2>
										<p><time datetime="01-01">19.07.2014</time> Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiecatio vit qui quibearsae aut enda sa sae etur sandit qui quiaum que. <a class="more" href="#">mehr</a></p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="post">
									<a href="#"><img src="images/img-33.jpg" alt="image description"></a>
									<div class="content">
										<h2><a href="#">Hier ein Titel zum Text</a></h2>
										<p><time datetime="01-01">19.07.2014</time> Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiecatio vit qui quibearsae aut enda sa sae etur sandit qui quiaum que. <a class="more" href="#">mehr</a></p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="post">
									<a href="#"><img src="images/img-34.jpg" alt="image description"></a>
									<div class="content">
										<h2><a href="#">Hier ein Titel zum Text</a></h2>
										<p><time datetime="01-01">19.07.2014</time> Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiecatio vit qui quibearsae aut enda sa sae etur sandit qui quiaum que. <a class="more" href="#">mehr</a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="holder">
							<div class="col col-4">
								<div class="post">
									<a href="#"><img src="images/img-35.jpg" alt="image description"></a>
									<div class="content">
										<h2><a href="#">Hier ein kurzer Text zum Bild oberhalb</a></h2>
									</div>
								</div>
							</div>
							<div class="col col-4">
								<div class="post">
									<a href="#"><img src="images/img-36.jpg" alt="image description"></a>
									<div class="content">
										<h2><a href="#">Der kurze Text zum Foto obenstehend</a></h2>
									</div>
								</div>
							</div>
							<div class="col col-4">
								<div class="post">
									<a href="#"><img src="images/img-37.jpg" alt="image description"></a>
									<div class="content">
										<h2><a href="#">Hier ein kurzer Text zum Bild oberhalb</a></h2>
									</div>
								</div>
							</div>
							<div class="col col-4">
								<div class="post">
									<a href="#"><img src="images/img-38.jpg" alt="image description"></a>
									<div class="content">
										<h2><a href="#">Der kurze Text zum Foto obenstehend</a></h2>
									</div>
								</div>
							</div>
						</div>
						<div class="holder">
							<div class="col">
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>Oberzeile Teaser</h2>
									</div>
									<div class="content">
										<a href="#"><img src="images/img-02.jpg" alt="image description"></a>
										<h3><a href="#">Titelzeile für den Teaser</a></h3>
										<p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que.</p>
										<ul class="links">
											<li><a href="#">Hier ein Link zum Thema</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col">
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>Oberzeile Teaser</h2>
									</div>
									<div class="content">
										<h3><a href="#">Titelzeile für den Teaser mit Text und Links</a></h3>
										<p>Acescid ma dolorum core ducia eosae aut enda qui <b>Textauszeichnung</b> quiatecatio vit sam eossundae dit ea. <b>Hier ein weitere</b> <b>Textauszeichnung</b> inctio ileo sae aut enda sa sae etur sandit qui quiatecatio.</p>
										<div class="links-holder">
											<strong class="title">Unsere Dienstleistungen</strong>
											<ul class="links">
												<li><a href="#">Textlink auf eine Seite</a></li>
												<li><a href="#">Zweiter Link Unterseite</a></li>
												<li><a href="#">Hier der dritte Link</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>News mit bild</h2>
									</div>
									<div class="content">
										<ul class="news-list">
											<li>
												<div class="img-holder">
													<a href="#"><img alt="image description" src="images/img-22.jpg"></a>
												</div>
												<div class="descr">
													<time datetime="01-01">19.07.2014</time>
													<h2><a href="#">Titelzeile der ersten Newsmeldung</a></h2>
												</div>
											</li>
											<li>
												<div class="img-holder">
													<a href="#"><img alt="image description" src="images/img-23.jpg"></a>
												</div>
												<div class="descr">
													<time datetime="01-01">18.07.2014</time>
													<h2><a href="#">Zweiter Meldungs Titel davon</a></h2>
												</div>
											</li>
											<li>
												<div class="img-holder">
													<a href="#"><img alt="image description" src="images/img-24.jpg"></a>
												</div>
												<div class="descr">
													<time datetime="01-01">17.07.2014</time>
													<h2><a href="#">Der Titel der dritten Newsmeldung</a></h2>
												</div>
											</li>
										</ul>
										<ul class="links">
											<li><a href="#">Weitere News im Newsarchiv</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<!-- footer of the page -->
		<footer id="footer">
			<div class="container">
				<div class="holder">
					<div class="box">
						<h3>Adressblock</h3>
						<address><b>Firmenname</b> <br>Strassenname 3 <br>8888 Ortschaftsname</address>
						<div class="contact">
							<dl>
								<dt>Tel.</dt>
								<dd><a href="tel:41441234567">+41 44 123 45 67</a></dd>
							</dl>
							<a href="mailto:&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;">&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;</a>
						</div>
						<ul class="footer-nav">
							<li><a href="#">Kontakt</a></li>
							<li><a href="#">Lageplan</a></li>
						</ul>
					</div>
					<div class="box">
						<h3>TExt / Bild gross</h3>
						<ul class="news-list">
							<li>
								<div class="img-holder">
									<a href="#"><img alt="image description" src="images/img-22.jpg"></a>
								</div>
								<div class="descr">
									<strong>Oberzeile</strong>
									<h4><a href="#">Hier die Titelzeile zum ersten Eintrag</a></h4>
								</div>
							</li>
							<li>
								<div class="img-holder">
									<a href="#"><img alt="image description" src="images/img-23.jpg"></a>
								</div>
								<div class="descr">
									<strong>Oberzeile</strong>
									<h4><a href="#">Titelzeile zum zweiten Beitrag</a></h4>
								</div>
							</li>
						</ul>
					</div>
					<div class="box">
						<h3>Linkelement</h3>
						<ul class="links">
							<li><a href="#">Link auf Dienstleistung</a></li>
							<li><a href="#">Noch eine Dienstleistung</a></li>
							<li><a href="#">Der dritte Link hier</a></li>
							<li><a href="#">Eine Rubrik der Leistung</a></li>
							<li><a href="#">Die fünfte Leistung</a></li>
							<li><a href="#">Hier noch ein weiterer Link</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-bar">
				<div class="container">
					<!-- search form -->
					<form class="search-form" action="#">
						<fieldset>
							<input type="search" placeholder="Suchbegriff">
							<input type="submit" value="GO">
						</fieldset>
					</form>
					<ul class="footer-nav">
						<li><a href="#">Impressum</a></li>
						<li><a href="#">Sitemap</a></li>
					</ul>
					<ul class="socials">
						<li><a href="#" class="facebook">facebook</a></li>
						<li><a href="#" class="gplus">gplus</a></li>
						<li><a href="#" class="twitter">twitter</a></li>
						<li><a href="#" class="youtube">youtube</a></li>
					</ul>
				</div>
			</div>
		</footer>
		<!-- allow a user to go to the top of the page -->
		<a href="#" class="btn-top">back to top</a>
	</div>
	<!-- include jQuery library -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script>
	<!-- include custom JavaScript -->
	<script type="text/javascript" src="js/jquery.main.js"></script>
	<!-- include custom social buttons JavaScript -->
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "c3d61c4d-12a1-4b3a-be64-b933329939a5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</body>
</html>
