<div id="wrapper">
	<div class="w1">
		<header id="header">
			<f:format.html parseFuncTSPath="">{header}</f:format.html>	
		</header>
		<main role="main">
			<div class="container">
				<f:format.html parseFuncTSPath="">{pfad}</f:format.html>
				
				<div id="twocolumns">
						<div id="content">
							<!--TYPO3SEARCH_begin-->
					  			<f:format.html parseFuncTSPath="">{content}</f:format.html>
					  		<!--TYPO3SEARCH_end-->
						</div>
						<aside id="sidebar">
							<!--TYPO3SEARCH_begin-->
							  	<f:format.html parseFuncTSPath="">{sidebar}</f:format.html>
							<!--TYPO3SEARCH_end-->
						</aside>
				</div>	
			
			</div>
				
		</main>
	</div>
		<footer id="footer">
			<f:format.html parseFuncTSPath="">{footer}</f:format.html>
		</footer>
		<a href="#" class="btn-top">back to top</a>
	</div>