<!-- Footer Section -->
<footer>
    <f:cObject typoscriptObjectPath="lib.footerCMS" />
    <hr class="white">
    <div class="bgblack">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 mt20 mb20">
                <f:cObject typoscriptObjectPath="lib.footerMenu" />
            </div>
            <div class="col-sm-2 mt20 mb20 text-center">&copy; casmart.ch</div>
            <div class="col-sm-4 mt20 mb20 text-center">
               <f:cObject typoscriptObjectPath="lib.navShare" />
            </div>
            <div class="col-sm-1 mt20 mb20"><a href="#pagetop"><div class="uparrow"><i class="fa fa-long-arrow-up"></i></div></a></div>
        </div>
    </div>
    </div>
</footer>
