$base-text-color: #2c3334;
$base-background-color: #f5f5f5;
$base-link-color: #0062a9;
$base-form-text-color: #2c3334;
$base-form-placeholder-color: #9fa1a2;
$base-input-border-color: #9fa1a2;

$base-font-size: 16px;
$base-line-height: 1.44;
$base-font-family: 'Open Sans', Arial, Helvetica, sans-serif;

$base-min-width: 320px;

$white:#fff;
$white2:#f5f5f5;
$red:#e30613;
$red-dark:#c11210;
$black:#000;
$grey:#cfd0d0;
$grey2:#9fa1a2;
$grey3:#2c3334;
$blue:#004476;