<!DOCTYPE html>
<html lang="de">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Osterwalder.com</title>
	<!-- include the site stylesheet -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700,900,400italic' rel='stylesheet' type='text/css'>
	<link media="all" rel="stylesheet" href="css/all.css">
</head>
<body class="theme-6">
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<!-- container for mobile menu -->
		<div class="w1">
			<!-- header of the page -->
			<header id="header">
				<!-- set-lang -->
				<div class="set-lang">
					<div class="container">
						<ul>
							<li class="active"><a href="#">Deutsch</a></li>
							<li><a href="#">English</a></li>
						</ul>
					</div>
				</div>
				<div class="header-block">
					<div class="container">
						<!-- page logo -->
						<div class="logo"><a href="#"><img src="images/logo-wespi.png" alt="Wespi &amp; Partner Treuhand und Finanzen"></a></div>
					</div>
				</div>
				<!-- main navigation of the page -->
				<nav class="navigation">
					<a href="#" class="nav-opener"><span>Menu</span></a>
					<div class="container">
						<ul id="nav">
							<li class="home"><a href="#">Home</a></li>
							<li class="active">
								<a href="#">Treuhand</a>
								<ul>
									<li><a href="#">Rechnungswesen</a></li>
									<li><a href="#">Online Buchführung</a></li>
									<li><a href="#">Lohn- und Personalwesen</a></li>
									<li><a href="#">Steuern</a></li>
									<li><a href="#">Gründungen und Umwandlungen</a></li>
									<li><a href="#">Controlling und Analyse</a></li>
								</ul>
							</li>
							<li><a href="#">Steuern</a></li>
							<li><a href="#">Wirtschaftsprüfung</a></li>
							<li><a href="#">Unternehmensberatung</a></li>
							<li><a href="#">Über uns</a></li>
						</ul>
					</div>
				</nav>
			</header>
			<!-- contain main informative part of the site -->
			<main role="main" id="main">
				<div class="container">
					<div class="promo">
						<img src="images/img-58.jpg" alt="image description">
					</div>
					<!-- navbar block -->
					<div class="navbar">
						<!-- pint button -->
						<a href="#" class="pint">seite drucken</a>
						<!-- breadcrumbs -->
						<ul class="breadcrumbs">
							<li><a href="#">HOME</a></li>
							<li><a href="#">treuhand</a></li>
							<li>steuern</li>
						</ul>
					</div>
					<!-- twocolumns area -->
					<div id="twocolumns">
						<div id="content">
							<h1>Steuerberatung und Planung</h1>
							<p>Ob Privatperson, Verein oder Unternehmung. Ob Staats-, Mehrwert- oder Quellensteuer. <br>Wir unterstützen Sie beim Lösen Ihrer steuerlichen Herausforderungen.</p>
							<strong>Unsere Dienstleistungen im Detail:</strong>
							<ul class="success-list">
								<li>Steuererklärungen für natürliche und juristische Personen</li>
								<li>Steuerberatung und -planung für Unternehmungen (Einzelfirma, GmbH, AG, Holding)</li>
								<li>Mehrwertsteuerabrechnung und -beratung</li>
								<li>Steuerliche Unterstützung von Privatpersonen (Staats-, Gemeinde- und Bundessteuer sowie Grundstückgewinn-, Erbschafts- und Schenkungssteuer)</li>
								<li>Rückerstattungsanträge für in- und ausländische Quellensteuern</li>
								<li>Einholen von steuerlich genehmigter Rulings und Spesenreglemente</li>
								<li>Steuerliche Erfassung von Mitarbeiteraktien und Mitarbeiteroptionen</li>
								<li>Stempelsteuer bei Kapitalerhöhungen</li>
							</ul>
						</div>
						<aside id="sidebar">
							<div class="box">
								<div class="heading">
									<h2>Checkliste Steuern</h2>
								</div>
								<div class="content">
									<p>Hier finden Sie unsere Auftrags- und Checkliste für natürliche Personen für Ihre Steuererklärung 2014 als PDF Formular.</p>
									<ul class="links-list">
										<li><a href="*.pdf">Steuercheckliste <span>(78 KB)</span></a></li>
									</ul>
								</div>
							</div>
							<div class="box">
								<div class="content">
									<a href="#"><img src="images/img-59.jpg" alt="image description"></a>
									<h3>Kontakt</h3>
									<p>Haben Sie noch Fragen? Dann melden Sie sich unverbindlich bei uns. Das Team von Wespi & Partner steht Ihnen gerne zur Verfügung.</p>
									<ul class="links-list">
										<li><a href="#">Nehmen Sie mit uns Kontakt auf</a></li>
									</ul>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</main>
		</div>
		<!-- footer of the page -->
		<footer id="footer">
			<div class="container">
				<div class="holder">
					<div class="box">
						<h3>kontakt bassersdorf</h3>
						<ul class="contact">
							<li>
								<address><a href="#">Wespi &amp; Partner <br>Klotenerstrasse 25 <br>8303 Bassersdorf</a></address>
							</li>
							<li><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#119;&#101;&#115;&#112;&#105;&#112;&#097;&#114;&#116;&#110;&#101;&#114;&#046;&#099;&#104;">&#105;&#110;&#102;&#111;&#064;&#119;&#101;&#115;&#112;&#105;&#112;&#097;&#114;&#116;&#110;&#101;&#114;&#046;&#099;&#104;</a></li>
							<li><a href="tel:41432663620">+41 43 266 36 20</a></li>
						</ul>
					</div>
					<div class="box">
						<h3>kontakt appenzell</h3>
						<ul class="contact">
							<li>
								<address><a href="#">Wespi &amp; Partner <br>Klotenerstrasse 25 <br>8303 Bassersdorf</a></address>
							</li>
							<li><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#119;&#101;&#115;&#112;&#105;&#112;&#097;&#114;&#116;&#110;&#101;&#114;&#046;&#099;&#104;">&#105;&#110;&#102;&#111;&#064;&#119;&#101;&#115;&#112;&#105;&#112;&#097;&#114;&#116;&#110;&#101;&#114;&#046;&#099;&#104;</a></li>
							<li><a href="tel:41432663620">+41 43 266 36 20</a></li>
						</ul>
					</div>
					<div class="box">
						<h3>quicklinks</h3>
						<ul class="links">
							<li><a href="#">Team</a></li>
							<li><a href="#">Netzwerk &amp; Mitgliedschaften</a></li>
							<li><a href="#">Kunden &amp; Branchen</a></li>
							<li><a href="#">History</a></li>
							<li><a href="#">Vakanzen</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-bar">
					<ul class="footer-nav">
						<li><a href="#">Kontakt</a></li>
						<li><a href="#">Impressum</a></li>
						<li><a href="#">Sitemap</a></li>
					</ul>
					<div class="copyright">
						<p>&copy; Copyright 2015 by <a href="#">Wespi &amp; Partner</a></p>
					</div>
				</div>
			</div>
		</footer>
		<!-- allow a user to go to the top of the page -->
		<a href="#" class="btn-top">back to top</a>
	</div>
	<!-- include jQuery library -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script>
	<!-- include custom JavaScript -->
	<script type="text/javascript" src="js/jquery.main.js"></script>
	<!-- include custom social buttons JavaScript -->
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "c3d61c4d-12a1-4b3a-be64-b933329939a5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</body>
</html>
