<!DOCTYPE html>
<html lang="de">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Osterwalder.com</title>
	<!-- include the site stylesheet -->
	<link media="all" rel="stylesheet" href="css/all.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
</head>
<body class="theme-2">
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<!-- container for mobile menu -->
		<div class="w1">
			<!-- header of the page -->
			<header id="header">
				<div class="header-block">
					<div class="container">
						<!-- page logo -->
						<div class="logo"><a href="#"><img src="images/logo-white.png" alt="logologo"></a></div>
						<div class="frame">
							<!-- add nav -->
							<ul class="add-nav">
								<li><a href="#">Subnavgation</a></li>
								<li><a href="#">kleinenavi</a></li>
								<li><a href="#">navigation2</a></li>
							</ul>
							<!-- search form -->
							<form class="search-form" action="#">
								<fieldset>
									<input type="search" placeholder="Suchbegriff">
									<input type="submit" value="GO">
								</fieldset>
							</form>
							<!-- set-lang -->
							<div class="set-lang">
								<a href="#" class="selected">DE</a>
								<ul>
									<li><a href="#">Deutsch</a></li>
									<li><a href="#">Francais</a></li>
									<li><a href="#">English</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- main navigation of the page -->
				<nav class="navigation">
					<a href="#" class="nav-opener"><span>Menu</span></a>
					<div class="container">
						<ul id="nav">
							<li><a href="#">LinK</a></li>
							<li>
								<a href="#">hiereinlink</a>
								<ul>
									<li>
										<a href="#">Subnavigation 1</a>
										<ul>
											<li><a href="#">Subsubnavigationspunkt</a></li>
											<li><a href="#">nocheinnavipunkt</a></li>
											<li><a href="#">navigationspunktdrei</a></li>
											<li><a href="#">derviertepunkt</a></li>
											<li><a href="#">nocheinnavigationspunkt</a></li>
											<li><a href="#">derletzteeintrag</a></li>
										</ul>
									</li>
									<li><a href="#">zweiter Navigationspunkt</a></li>
									<li><a href="#">Navgationspunkt</a></li>
									<li><a href="#">letzter navipunkt  zur not auf zwei zeilen</a></li>
								</ul>
							</li>
							<li><a href="#">linkdrei</a></li>
							<li><a href="#">dienstleistung</a></li>
							<li><a href="#">kontakt</a></li>
						</ul>
						<div class="mobile-block">
							<!-- search form -->
							<form class="search-form" action="#">
								<fieldset>
									<input type="search" placeholder="Suchbegriff">
									<input type="submit" value="GO">
								</fieldset>
							</form>
							<ul class="q-links">
								<li><a href="#">Kontakt</a></li>
								<li><a href="#">Impressum</a></li>
								<li><a href="#">AGBs</a></li>
								<li><a href="#">Sitemap</a></li>
							</ul>
							<div class="address-info">
								<strong>Firmenname</strong>
								<address>
									Strassenname 3 
									<br>8888 Ortschaftsname
									<br><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;">&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;</a>
								</address>
								<a href="tel:41441234567" class="btn">Tel. +41 44 123 45 67</a>
							</div>
						</div>
					</div>
				</nav>
			</header>
			<!-- contain main informative part of the site -->
			<main role="main">
				<div class="container">
					<!-- navbar block -->
					<div class="navbar">
						<!-- pint button -->
						<a href="#" class="pint">seite drucken</a>
						<!-- breadcrumbs -->
						<ul class="breadcrumbs">
							<li><a href="#">HOME</a></li>
							<li><a href="#">Subnavigation</a></li>
							<li>Seite</li>
						</ul>
					</div>
					<!-- twocolumns area -->
					<div id="twocolumns">
						<div id="content">
							<!-- gallery -->
							<div class="gallery">
								<div class="mask">
									<div class="slideset">
										<div class="slide active"><img src="images/img-06.jpg" alt="image description"></div>
										<div class="slide"><img src="images/img-06.jpg" alt="image description"></div>
										<div class="slide"><img src="images/img-06.jpg" alt="image description"></div>
										<div class="slide"><img src="images/img-06.jpg" alt="image description"></div>
										<div class="slide"><img src="images/img-06.jpg" alt="image description"></div>
									</div>
								</div>
								<div class="switcher"></div>
							</div>
							<div class="text-block">
								<h1>H1 Hier eine Titelzeile hingeschrieben</h1>
								<p class="intro-text">Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed.</p>
								<div class="post">
									<div class="post-title">
										<time datetime="07-19">19.07.2014</time>
										<strong class="author">Von Vorname Nachname</strong>
									</div>
									<p><b>Acescid ma dolorum core ducia eosae aut enda</b> sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que <a href="#">Beispiel interner Link</a> dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium, aut que omnimet fugitas piendig enditatis derrunt. <br> Bus maiosam, sit quam inum evelis <b>Beispiel für eine Textauszeichnung</b> re doluptatecus essitibus dolupti <a class="external-link" href="#">Hier ein Beispiel für einen externen Link</a>. Occupitibus anda si officiendi cullaut omnis molupta cum ex eaquid est faceres aut voluptas modi officimet</p>
								</div>
							</div>
							<div class="text-block">
								<h3>H3 Zwischentitel Gross</h3>
								<p>Mtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae. <b>Untenstehend eine Aufzählung:</b></p>
								<ul>
									<li>Sunduciamus idenist otatus et aut atiur rest, ullaccum.</li>
									<li>Andis et eost omnisciis qui commo bla consere, sunduciamus.</li>
									<li>Occupitibus anda si officiendi cullaut omnis molupta cumex</li>
									<li>Maquid est faceres aut voluptas modi officimet quae. Et es earchit audi ulpa Occupitibus anda si officiendi cullaut omnis molupta cumex</li>
								</ul>
							</div>
							<div class="text-block">
								<h3>Zwischentitel Gross</h3>
								<figure class="alignleft">
									<a href="#">
										<img src="images/img-07.jpg" alt="image description">
										<span class="btn-zoom">zoom</span>
									</a>
									<figcaption>Bildunterschrift oder Legende</figcaption>
								</figure>
								<p>Acescidnditatis derrunt. Bu core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum nditatis derrunt. Bu eossundae dit explab inctio il id molorem pornditatis derrunt. Buferes utatiss itium nditatis derrunt. Buitas piendig enditatis derrunt. Bus maiosam, sit quam inum excestium evelis maximusdam dem euluptluptatecus essitis maiosatecus essitis maios ptisit re doluptatecus essitibus dolupti ationec essitis maios  itibuanda si piendig enditatis derrunt. Bus maiosam, sit quam fugitas piendig enditatis derrunt. Bus maiosam, sit quam inum excestium evelis maximusdam dem eum voloreptisit re doluptatecus essitis maiosam, sit quam inum excestium evelis maximusdam dem eum voloreptisit re dobus dolupti ationecis molupta.</p>
								<h4>H4 Zwischentitel klein</h4>
								<p>Est faceres aut voluptas modi officimet quae. Et es earchit audi ulpa nis magnate mpostis eatem quiant. Ximent aut pera sum elluptatus ea imoluptatem aut andis et eost omnisciis perferibus nobitas imender ovitati atat. Uptate ma quibea velitatis mint.</p>
							</div>
							<blockquote>
								<q>Acescid ma dolorum core ducia autend asasae etur sandit qui quiatecatio vitesse que qui ut fugit qui bearum que.</q>
								<cite>Name Zitatgeber, Funktion</cite>
							</blockquote>
							<div class="text-block">
								<p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae dolent delias explab inctio il id molorem porit, utem natibus derferes utatiss itium aut que omnimet fugitas piendig enditatis derrunt. Bus maiosam, sit quam.</p>
								<table>
									<tr>
										<th class="col-title">Eintrag Nummer 1</th>
										<td>Beschrieb zum ersten Eintrag.</td>
									</tr>
									<tr>
										<th class="col-title">Hier der zweite Eintrag</th>
										<td>Hier der Beschrieb zum zweiten Eintrag.</td>
									</tr>
									<tr>
										<th class="col-title">Und der Eintrag Nummer 3</th>
										<td>Dann schlussendlich hier der Beschrieb zum zweiten <br>Eintrag, der über zwei Zeilen läuft.</td>
									</tr>
								</table>
							</div>
							<hr>
							<div class="text-block">
								<h2>H2 Titel zum Video</h2>
								<div class="video-holder">
									<img src="images/img-video.jpg" alt="image description">
								</div>
							</div>
							<div class="text-block">
								<h2>Weitere informationen</h2>
								<ul class="links-list">
									<li><a href="#">Link auf externe Seite</a></li>
									<li><a href="#">Noch ein Link auf eine externe Seite</a></li>
									<li><a href="#">Noch ein Link auf eine externe Seite</a></li>
								</ul>
							</div>
							<div class="text-block">
								<h2>Weiterführende Links</h2>
								<ul class="links-list">
									<li><a class="external-link" href="#">Link auf externe Seite</a></li>
									<li><a class="external-link" href="#">Noch ein Link auf eine externe Seite</a></li>
								</ul>
							</div>
							<div class="text-block">
								<h2>Nützliche Dokumente</h2>
								<ul class="links-list">
									<li><a href="*.pdf">Name des Dokumentes <span>(1.5 MB)</span></a></li>
									<li><a href="*.zip">Noch ein Link auf ein Dokument <span>(2.2 MB)</span></a></li>
									<li><a href="*.doc">Hier der Link auf ein weiteres Dokument <span>(125 KB)</span></a></li>
									<li><a href="*.jpg">Name des Dokumentes <span>(384 KB)</span></a></li>
									<li><a href="*.ppt">Noch ein Link auf ein Dokument <span>(2.7 MB)</span></a></li>
									<li><a href="*.xls">Hier der Link auf ein weiteres Dokument <span>(1.9 MB)</span></a></li>
								</ul>
								<hr>
							</div>
							<div class="text-block">
								<h2>Titel zur galerie</h2>
								<div class="video-holder">
									<img src="images/img-video2.jpg" alt="image description">
								</div>
								<ul class="social-buttons">
									<li><span class='st_facebook_hcount'></span></li>
									<li><span class='st_twitter_hcount'></span></li>
									<li><span class='st_googleplus_hcount' displayText='Google +'></span></li>
									<li><span class='st_email_hcount'></span></li>
								</ul>
								<div class="btn-hodler">
									<a href="#" class="btn">Button gross</a>
								</div>
								<div class="btn-hodler">
									<a href="#" class="btn small">Button klein</a>
								</div>
							</div>
							<div class="map-holder">
								<img src="images/img-map.jpg" alt="image description">
							</div>
							<div class="peoples-block">
								<h3>Geschäftsleitung</h3>
								<ul class="peoples-list">
									<li>
										<div class="photo">
											<a href="#">
												<img src="images/img-08.jpg" alt="image description">
												<span class="btn-zoom">zoom</span>
											</a>
										</div>
										<strong>Vorname Nachname</strong>
										<p>Funktion in der Firma</p>
										<dl>
											<dt>Tel.</dt>
											<dd>+41 44 123 45 67</dd>
										</dl>
										<a href="mailto:&#109;&#097;&#105;&#108;&#103;&#097;&#100;&#114;&#101;&#115;&#115;&#101;&#064;&#102;&#105;&#114;&#109;&#097;&#046;&#099;&#104;">&#109;&#097;&#105;&#108;&#103;&#097;&#100;&#114;&#101;&#115;&#115;&#101;&#064;&#102;&#105;&#114;&#109;&#097;&#046;&#099;&#104;</a>
										<ul class="socials">
											<li><a href="#" class="facebook">facebook</a></li>
											<li><a href="#" class="gplus">gplus</a></li>
											<li><a href="#" class="xing">xing</a></li>
											<li><a href="#" class="linkedin">linkedin</a></li>
										</ul>
									</li>
									<li>
										<div class="photo">
											<a href="#">
												<img src="images/img-09.jpg" alt="image description">
												<span class="btn-zoom">zoom</span>
											</a>
										</div>
										<strong>Vorname Nachname</strong>
										<p>Funktion in der Firma</p>
										<dl>
											<dt>Tel.</dt>
											<dd>+41 44 123 45 67</dd>
										</dl>
										<a href="mailto:&#109;&#097;&#105;&#108;&#103;&#097;&#100;&#114;&#101;&#115;&#115;&#101;&#064;&#102;&#105;&#114;&#109;&#097;&#046;&#099;&#104;">&#109;&#097;&#105;&#108;&#103;&#097;&#100;&#114;&#101;&#115;&#115;&#101;&#064;&#102;&#105;&#114;&#109;&#097;&#046;&#099;&#104;</a>
										<ul class="socials">
											<li><a href="#" class="facebook">facebook</a></li>
											<li><a href="#" class="gplus">gplus</a></li>
											<li><a href="#" class="xing">xing</a></li>
											<li><a href="#" class="linkedin">linkedin</a></li>
										</ul>
									</li>
									<li>
										<div class="photo">
											<a href="#">
												<img src="images/img-10.jpg" alt="image description">
												<span class="btn-zoom">zoom</span>
											</a>
										</div>
										<strong>Vorname Nachname</strong>
										<p>Funktion in der Firma</p>
										<dl>
											<dt>Tel.</dt>
											<dd>+41 44 123 45 67</dd>
										</dl>
										<a href="mailto:&#109;&#097;&#105;&#108;&#103;&#097;&#100;&#114;&#101;&#115;&#115;&#101;&#064;&#102;&#105;&#114;&#109;&#097;&#046;&#099;&#104;">&#109;&#097;&#105;&#108;&#103;&#097;&#100;&#114;&#101;&#115;&#115;&#101;&#064;&#102;&#105;&#114;&#109;&#097;&#046;&#099;&#104;</a>
										<ul class="socials">
											<li><a href="#" class="facebook">facebook</a></li>
											<li><a href="#" class="gplus">gplus</a></li>
											<li><a href="#" class="xing">xing</a></li>
											<li><a href="#" class="linkedin">linkedin</a></li>
										</ul>
									</li>
									<li>
										<div class="photo">
											<a href="#">
												<img src="images/img-11.jpg" alt="image description">
												<span class="btn-zoom">zoom</span>
											</a>
										</div>
										<strong>Vorname Nachname</strong>
										<p>Funktion in der Firma</p>
										<dl>
											<dt>Tel.</dt>
											<dd>+41 44 123 45 67</dd>
										</dl>
										<a href="mailto:&#109;&#097;&#105;&#108;&#103;&#097;&#100;&#114;&#101;&#115;&#115;&#101;&#064;&#102;&#105;&#114;&#109;&#097;&#046;&#099;&#104;">&#109;&#097;&#105;&#108;&#103;&#097;&#100;&#114;&#101;&#115;&#115;&#101;&#064;&#102;&#105;&#114;&#109;&#097;&#046;&#099;&#104;</a>
										<ul class="socials">
											<li><a href="#" class="facebook">facebook</a></li>
											<li><a href="#" class="gplus">gplus</a></li>
											<li><a href="#" class="xing">xing</a></li>
											<li><a href="#" class="linkedin">linkedin</a></li>
										</ul>
									</li>
								</ul>
							</div>
							<!-- news area -->
							<div class="news-block">
								<ul class="news-list">
									<li>
										<div class="img-holder">
											<a href="#"><img src="images/img-12.jpg" alt="image description"></a>
										</div>
										<div class="descr">
											<h2><a href="#">Titel der news</a></h2>
											<p><time datetime="07-19">19.07.2014</time><span class="no-mobile"> Acescid maMarthalen - und Mädchen jagen im Axpo Fussballcamp auf dem Sportplatz in Marthalen dem Ball nach. Sie haben den Plausch, obwohl viel Disziplin verlangt wird. <a class="more" href="#">mehr</a></span></p>
										</div>
									</li>
									<li>
										<div class="img-holder">
											<a href="#"><img src="images/img-13.jpg" alt="image description"></a>
										</div>
										<div class="descr">
											<h2><a href="#">Newstitel hingeschrieben</a></h2>
											<p><time datetime="07-18">18.07.2014</time><span class="no-mobile"> Küttigen. Rund 110 Kinder haben sich für Axpo Fussballcamp in Küttigen angemeldet. <a class="more" href="#">mehr</a></span></p>
										</div>
									</li>
									<li>
										<div class="img-holder">
											<a href="#"><img src="images/img-14.jpg" alt="image description"></a>
										</div>
										<div class="descr">
											<h2><a href="#">Hier der Titel für die News</a></h2>
											<p><time datetime="07-17">17.07.2014</time><span class="no-mobile"> Letzte Woche fand in Rheinfelden das Axpo Fussballcamp statt. Knapp 80 fussball begeisterte Mädchen und Knaben im Alter von 5 bis 15 Jahren erlebten während... <a class="more" href="#">mehr</a></span></p>
										</div>
									</li>
								</ul>
								<ul class="pagination">
									<li class="first inactive"><a href="#"></a></li>
									<li class="prev inactive"><a href="#"></a></li>
									<li class="text">Seite <span>1</span> von <span>126</span></li>
									<li class="next"><a href="#"></a></li>
									<li class="last"><a href="#"></a></li>
								</ul>
							</div>
							<!-- main form -->
							<form action="#">
								<fieldset>
									<div class="row">
										<label for="salutation-field">Anrede</label>
										<div class="field-item">
											<select id="salutation-field">
												<option class="default">Bitte wählen</option>
												<option>Menüpunkt 1</option>
												<option>Menüpunkt 1</option>
												<option>Menüpunkt 1</option>
											</select>
										</div>
									</div>
									<div class="row">
										<label for="fname-field">Vorname</label>
										<div class="field-item">
											<input id="fname-field" type="text" placeholder="">
											<span class="info-message">BITTE AUSFÜLLEN</span>
										</div>
									</div>
									<div class="row">
										<label for="name-field">Name</label>
										<div class="field-item">
											<input id="name-field" type="text" placeholder="">
											<span class="info-message">BITTE AUSFÜLLEN</span>
										</div>
									</div>
									<div class="row error">
										<label for="address-field">Strasse</label>
										<div class="field-item">
											<input id="address-field" type="text" placeholder="">
											<span class="info-message">BITTE AUSFÜLLEN</span>
											<span class="note">Erklärung, falls nötig</span>
										</div>
									</div>
									<div class="row">
										<label for="zip-field">PLZ / Ort</label>
										<div class="field-item">
											<input id="zip-field" type="text" class="small" placeholder="">
											<div class="holder">
												<input type="text" placeholder="">
											</div>
											<span class="info-message">BITTE AUSFÜLLEN</span>
										</div>
									</div>
									<div class="row">
										<strong class="label">Radiobutton</strong>
										<div class="field-item">
											<div class="item">
												<input id="radio-yes" name="radio-group" type="radio" checked="checked">
												<label for="radio-yes">Ja</label>
											</div>
											<div class="item">
												<input id="radio-no" name="radio-group" type="radio">
												<label for="radio-no">Nein</label>
											</div>
											<span class="note">Beschrieb, falls nötig</span>
										</div>
									</div>
									<div class="row">
										<strong class="label">Checkboxen</strong>
										<div class="field-item">
											<ul class="chk-list">
												<li>
													<input id="check-01" type="checkbox" checked="checked">
													<label for="check-01">Text zur Checkbox</label>
												</li>
												<li>
													<input id="check-02" type="checkbox">
													<label for="check-02">Zweite Checkbox</label>
												</li>
												<li>
													<input id="check-03" type="checkbox">
													<label for="check-03">Hier die dritte Checkbox</label>
												</li>
											</ul>
										</div>
									</div>
									<div class="row">
										<label for="message-field1">Bemerkungen</label>
										<div class="field-item">
											<textarea id="message-field1" rows="5" cols="30"></textarea>
										</div>
									</div>
									<div class="btns-holder">
										<button type="submit">Abschicken</button>
										<button type="reset">zurücksetzen</button>
									</div>
								</fieldset>
							</form>
							<div class="download-block">
								<h2>Downloadcenter</h2>
								<p>In unserem Downloadcenter finden Sie Informationen, Broschüren und Formulare.</p>
								<form action="#">
									<fieldset>
										<div class="row">
											<label for="category-field">1. Hauptrubrik</label>
											<div class="field-item">
												<select id="category-field">
													<option class="default">Bitte auswählen</option>
													<option>Menüpunkt 1</option>
													<option>Menüpunkt 1</option>
													<option>Menüpunkt 1</option>
												</select>
											</div>
											<a href="#" class="btn-delete">delete</a>
										</div>
										<div class="row">
											<label for="them-field">2. Thema</label>
											<div class="field-item">
												<select id="them-field" disabled>
													<option class="default">Bitte auswählen</option>
													<option>Menüpunkt 1</option>
													<option>Menüpunkt 1</option>
													<option>Menüpunkt 1</option>
												</select>
											</div>
										</div>
										<div class="row">
											<label for="search-field">Suchbegriff</label>
											<div class="field-item">
												<input id="search-field" type="search" placeholder="">
												<button type="submit" class="btn-search"></button>
											</div>
											<a href="#" class="btn-delete">delete</a>
										</div>
									</fieldset>
								</form>
								<ul class="links-list">
									<li><a href="*.pdf">Name des Dokumentes <span>(1.5 MB)</span></a></li>
									<li><a href="*.zip">Noch ein Link auf ein Dokument <span>(2.2 MB)</span></a></li>
									<li><a href="*.doc">Hier der Link auf ein weiteres Dokument <span>(125 KB)</span></a></li>
									<li><a href="*.jpg">Name des Dokumentes <span>(384 KB)</span></a></li>
									<li><a href="*.ppt">Noch ein Link auf ein Dokument <span>(2.7 MB)</span></a></li>
									<li><a href="*.xls">Hier der Link auf ein weiteres Dokument <span>(1.9 MB)</span></a></li>
								</ul>
								<a href="#" class="btn">alle anzeigen (23)</a>
							</div>
							<div class="intertitles-block">
								<h3>H3 Zwischentitel Gross</h3>
								<p>Mtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolorae. <b>Untenstehend eine Aufzählung mit Checkmark:</b></p>
								<ul class="success-list">
									<li>Sunduciamus idenist otatus et aut atiur rest, ullaccum.</li>
									<li>Andis et eost omnisciis qui commo bla consere, sunduciamus.</li>
									<li>Occupitibus anda si officiendi cullaut omnis molupta cumex</li>
									<li>Maquid est faceres aut voluptas modi officimet quae</li>
								</ul>
							</div>
							<div class="box">
								<h2>headline BOX</h2>
								<a href="#" class="btn">Jetzt reservieren</a>
								<p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio </p>
							</div>
							<div class="references-block">
								<h3>referenzen gross</h3>
								<ul class="img-list">
									<li>
										<figure>
											<img src="images/img-15.jpg" alt="image description">
											<figcaption>
												<strong class="title"><a href="#">Titel der Referenz</a></strong>
												<p><time datetime="07-19">19.07.2014</time> Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit qui quibearum que... <a class="more" href="#">mehr</a></p>
											</figcaption>
										</figure>
									</li>
									<li>
										<figure>
											<img src="images/img-16.jpg" alt="image description">
											<figcaption>
												<strong class="title"><a href="#">Titel der Referenz</a></strong>
												<p><time datetime="07-19">19.07.2014</time> Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit qui quibearum que... <a class="more" href="#">mehr</a></p>
											</figcaption>
										</figure>
									</li>
									<li>
										<figure>
											<a href="#">
												<img src="images/img-17.jpg" alt="image description">
												<span class="btn-zoom">zoom</span>
											</a>
											<figcaption>
												<strong class="title"><a href="#">Titel der Referenz</a></strong>
												<p><time datetime="07-19">19.07.2014</time> Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit qui quibearum que... <a class="more" href="#">mehr</a></p>
											</figcaption>
										</figure>
									</li>
									<li>
										<figure>
											<a href="#">
												<img src="images/img-18.jpg" alt="image description">
												<span class="btn-zoom">zoom</span>
											</a>
											<figcaption>
												<strong class="title"><a href="#">Titel der Referenz</a></strong>
												<p><time datetime="07-19">19.07.2014</time> Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit qui quibearum que... <a class="more" href="#">mehr</a></p>
											</figcaption>
										</figure>
									</li>
								</ul>
							</div>
							<div class="references-block">
								<h3>referenzen klein</h3>
								<ul class="img-list three-columns">
									<li>
										<figure>
											<img src="images/img-19.jpg" alt="image description">
											<figcaption>
												<strong class="title"><a href="#">Titel der Referenz</a></strong>
											</figcaption>
										</figure>
									</li>
									<li>
										<figure>
											<img src="images/img-20.jpg" alt="image description">
											<figcaption>
												<strong class="title"><a href="#">Titel der Referenz</a></strong>
											</figcaption>
										</figure>
									</li>
									<li>
										<figure>
											<img src="images/img-21.jpg" alt="image description">
											<figcaption>
												<strong class="title"><a href="#">Titel der Referenz</a></strong>
											</figcaption>
										</figure>
									</li>
								</ul>
							</div>
							<div class="partners-block">
								<h3>Partner</h3>
								<ul class="img-list three-columns">
									<li>
										<a href="#"><img src="images/logo-01.jpg" alt="image description"></a>
									</li>
									<li>
										<a href="#"><img src="images/logo-02.jpg" alt="image description"></a>
									</li>
									<li>
										<a href="#"><img src="images/logo-03.jpg" alt="image description"></a>
									</li>
									<li>
										<a href="#"><img src="images/logo-04.jpg" alt="image description"></a>
									</li>
									<li>
										<a href="#"><img src="images/logo-05.jpg" alt="image description"></a>
									</li>
									<li>
										<a href="#"><img src="images/logo-06.jpg" alt="image description"></a>
									</li>
								</ul>
							</div>
							<ul class="accordion">
								<li class="active">
									<a href="#" class="opener">Akordeon offen</a>
									<div class="slide">
										<p>Mtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeorae.</p>
									</div>
								</li>
								<li>
									<a href="#" class="opener">Akordeon zu</a>
									<div class="slide">
										<p>Mtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeorae.</p>
									</div>
								</li>
								<li>
									<a href="#" class="opener">Akordeon zu</a>
									<div class="slide">
										<p>Mtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeorae.</p>
									</div>
								</li>
							</ul>
							<div class="tabs-area">
								<ul class="tabset">
									<li class="active"><a href="#tab1">tab 1</a></li>
									<li><a href="#tab2">zweiter tab</a></li>
									<li><a href="#tab3">tabnummer3</a></li>
								</ul>
								<div class="tab-content">
									<div id="tab1">
										<p>Mtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeorae.</p>
									</div>
									<div id="tab2">
										<p>Tab 2 Mtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeorae.</p>
									</div>
									<div id="tab3">
										<p>Tab 3 Mtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit dolMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeMtur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea doluptiossed uta dit doloraeorae.</p>
									</div>
								</div>
							</div>
							<div class="events-block">
								<h2>Veranstaltungen</h2>
								<ul class="links-list">
									<li>
										<a href="#">
											<time datetime="01-01"><strong>19.07.2014</strong> <span>20.00 Uhr</span></time>
											Titelzeile der Veranstaltung
										</a>
									</li>
									<li>
										<a href="#">
											<time datetime="01-01"><strong>18.07.2014</strong> <span>20.00 Uhr</span></time>
											Hier die Titelzeile der Veranstaltung
										</a>
									</li>
									<li>
										<a href="#">
											<time datetime="01-01"><strong>17.07.2014</strong> <span>20.00 Uhr</span></time>
											Eine Titelzeile der Veranstaltung
										</a>
									</li>
									<li>
										<a href="#">
											<time datetime="01-01"><strong>16.07.2014</strong> <span>20.00 – 21.30 Uhr</span></time>
											Und noch eine Titelzeile des Events
										</a>
									</li>
									<li>
										<a href="#">
											<time datetime="01-01"><strong>15.07.2014 – 16.07.2014</strong></time>
											Dann hier die Titelzeile
										</a>
									</li>
								</ul>
							</div>
						</div>
						<aside id="sidebar">
							<div class="box">
								<div class="heading">
									<h2>Oberzeile Teaser</h2>
								</div>
								<div class="content">
									<div class="video-holder">
										<img src="images/img-video3.jpg" alt="image description">
									</div>
									<h3><a href="#">Titelzeile für den Teaser</a></h3>
									<p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que.</p>
								</div>
							</div>
							<div class="box">
								<div class="heading">
									<h2>News mit bild</h2>
								</div>
								<div class="content">
									<ul class="news-list">
										<li>
											<div class="img-holder">
												<a href="#"><img alt="image description" src="images/img-22.jpg"></a>
											</div>
											<div class="descr">
												<time datetime="01-01">19.07.2014</time>
												<h2><a href="#">Titelzeile der ersten Newsmeldung</a></h2>
											</div>
										</li>
										<li>
											<div class="img-holder">
												<a href="#"><img alt="image description" src="images/img-23.jpg"></a>
											</div>
											<div class="descr">
												<time datetime="01-01">18.07.2014</time>
												<h2><a href="#">Zweiter Meldungs Titel davon</a></h2>
											</div>
										</li>
										<li>
											<div class="img-holder">
												<a href="#"><img alt="image description" src="images/img-24.jpg"></a>
											</div>
											<div class="descr">
												<time datetime="01-01">17.07.2014</time>
												<h2><a href="#">Hier der Titel für die News</a></h2>
											</div>
										</li>
									</ul>
									<ul class="links-list">
										<li><a href="#">Weitere News im Newsarchiv</a></li>
									</ul>
								</div>
							</div>
							<div class="box">
								<div class="heading">
									<h2>Galerien</h2>
								</div>
								<div class="content">
									<ul class="news-list">
										<li>
											<div class="img-holder">
												<a href="#"><img alt="image description" src="images/img-25.jpg"></a>
											</div>
											<div class="descr">
												<strong>15 Fotos</strong>
												<h2><a href="#">Titelzeile der ersten Galerie</a></h2>
											</div>
										</li>
										<li>
											<div class="img-holder">
												<a href="#"><img alt="image description" src="images/img-26.jpg"></a>
											</div>
											<div class="descr">
												<strong>8 Fotos</strong>
												<h2><a href="#">Zweiter Galerie Titel geschrieben</a></h2>
											</div>
										</li>
										<li>
											<div class="img-holder">
												<a href="#"><img alt="image description" src="images/img-27.jpg"></a>
											</div>
											<div class="descr">
												<strong>30 Fotos</strong>
												<h2><a href="#">Der Titel der dritten Galerie</a></h2>
											</div>
										</li>
									</ul>
									<ul class="links-list">
										<li><a href="#">Weitere Galerien im Archiv</a></li>
									</ul>
								</div>
							</div>
							<div class="box">
								<div class="heading">
									<h2>Quicklinks intern</h2>
								</div>
								<div class="content">
									<h3>Weitere Informationen</h3>
									<ul class="links-list">
										<li><a href="#">Textlink auf eine Seite</a></li>
										<li><a href="#">Zweiter Link Unterseite</a></li>
										<li><a href="#">Hier der dritte Link</a></li>
										<li><a href="#">Liste von Links beliebig lang</a></li>
										<li><a href="#">Textlink auf eine Seite</a></li>
									</ul>
								</div>
							</div>
							<div class="box">
								<div class="heading">
									<h2>Quicklinks Extern</h2>
								</div>
								<div class="content">
									<h3>Weiterführende Links</h3>
									<ul class="links-list">
										<li><a href="#" class="external-link">Textlink auf externe Seite</a></li>
										<li><a href="#" class="external-link">Zweiter Link Extern</a></li>
										<li><a href="#" class="external-link">Hier der dritte Link extern</a></li>
										<li><a href="#" class="external-link">Liste von Links beliebig lang</a></li>
										<li><a href="#" class="external-link">Textlink auf eine externe Seite</a></li>
									</ul>
								</div>
							</div>
							<a href="tel:41441234567" class="btn">per telefon anmelden: <br>+41 44 123 45 67</a>
							<div class="box">
								<div class="heading">
									<h2>Oberzeile Teaser</h2>
								</div>
								<div class="content">
									<a href="#"><img src="images/img-28.jpg" alt="image description"></a>
									<h3><a href="#">Titelzeile für den Teaser</a></h3>
									<p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que.</p>
									<ul class="links-list">
										<li><a href="#">Hier ein Link zum Thema</a></li>
									</ul>
								</div>
							</div>
							<div class="box">
								<div class="heading">
									<h2>Oberzeile Teaser</h2>
								</div>
								<div class="content">
									<a href="#"><img src="images/img-28.jpg" alt="image description"></a>
									<h3><a href="#">Titelzeile für den Teaser</a></h3>
									<p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que.</p>
									<a href="#" class="btn">buttontext</a>
								</div>
							</div>
							<div class="box">
								<div class="heading">
									<h2>Oberzeile Teaser</h2>
								</div>
								<div class="content">
									<h3><a href="#">Titelzeile für den Teaser mit Text und Links</a></h3>
									<p>Acescid ma dolorum core ducia eosae aut enda qui <b>Textauszeichnung</b> quiatecatio vit esseque qui ut fugit quibearum que veribea sam eossundae dit ea. <br><b>Hier ein weitere Textauszeichnung</b> inctio ileo sae aut enda sa sae etur sandit qui quiatecatio porit, utem natibus derferes.</p>
									<strong class="title">Unsere Dienstleistungen</strong>
									<ul class="links-list">
										<li><a href="#">Textlink auf eine Seite</a></li>
										<li><a href="#">Zweiter Link Unterseite</a></li>
										<li><a href="#">Hier der dritte Link</a></li>
									</ul>
								</div>
							</div>
							<div class="box">
								<div class="heading">
									<h2>Oberzeile Teaser</h2>
								</div>
								<div class="content">
									<h3><a href="#">Titelzeile für den Teaser</a></h3>
									<p>ttenAcescid ma dolorum core ducia eosae aut enda qui <b>Textauszeichnung</b> quiatecatio vit esseque qui ut fugit quibearum que veribea sandit qui enda sa sae etur sandit vit esseque qui ut fugit.</p>
									<ul class="links-list">
										<li><a href="#">Hier ein Link zum Thema</a></li>
									</ul>
								</div>
							</div>
							<div class="box">
								<div class="heading">
									<h2>News</h2>
								</div>
								<div class="content">
									<ul class="news-list no-images">
										<li>
											<div class="descr">
												<h2><a href="#">Titelzeile der Newsmeldung</a></h2>
												<p><time datetime="01-01">19.07.2014</time> Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit qui quibearum que... <a class="more" href="#">mehr</a></p>
											</div>
										</li>
										<li>
											<div class="descr">
												<h2><a href="#">Titelzeile der Newsmeldung kann auch zweizeilig sein</a></h2>
												<p><time datetime="01-01">19.07.2014</time> Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit qui quibearum que... <a class="more" href="#">mehr</a></p>
											</div>
										</li>
										<li>
											<div class="descr">
												<h2><a href="#">Titelzeile der Newsmeldung</a></h2>
												<p><time datetime="01-01">19.07.2014</time> Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit qui quibearum que... <a class="more" href="#">mehr</a></p>
											</div>
										</li>
									</ul>
									<ul class="links-list">
										<li><a href="#">Weitere News im Newsarchiv</a></li>
									</ul>
								</div>
							</div>
							<div class="box">
								<div class="heading">
									<h2>Oberzeile Teaser</h2>
								</div>
								<div class="content">
									<h3>Nützliche Dokumente</h3>
									<p>Acescid ma dolorum core ducia eosae aut enda sandit qui <b>Textauszeichnung Bold</b> que. Acescid ma dolorum core ducia eosae aut.</p>
									<ul class="links-list">
										<li><a href="*.pdf">Name des Dokumentes <span>(1.5 MB)</span></a></li>
										<li><a href="*.zip">Noch ein Link auf ein Dokument <span>(2.2 MB)</span></a></li>
										<li><a href="*.doc">Hier Link auf ein weiteres Dokument <span>(125 KB)</span></a></li>
										<li><a href="*.jpg">Name des Dokumentes <span>(384 KB)</span></a></li>
										<li><a href="*.ppt">Noch ein Link auf ein Dokument <span>(2.7 MB)</span></a></li>
										<li><a href="*.xls">Hier Link auf ein weiteres Dokument <span>(1.9 MB)</span></a></li>
									</ul>
								</div>
							</div>
							<div class="box">
								<div class="heading">
									<h2>Oberzeile Teaser</h2>
								</div>
								<div class="content">
									<div class="download-block">
										<h3>Downloadcenter</h3>
										<p>In unserem Downloadcenter finden Sie Informationen, Broschüren und Formulare.</p>
										<form action="#">
											<fieldset>
												<div class="row">
													<label for="category-field1">1. Hauptrubrik</label>
													<div class="field-item">
														<select id="category-field1" class="inv-drop">
															<option class="default">Bitte auswählen</option>
															<option>Menüpunkt 1</option>
															<option>Menüpunkt 1</option>
															<option>Menüpunkt 1</option>
														</select>
													</div>
													<a href="#" class="btn-delete">delete</a>
												</div>
												<div class="row">
													<label for="them-field1">2. Thema</label>
													<div class="field-item">
														<select id="them-field1" disabled>
															<option class="default">Bitte auswählen</option>
															<option>Menüpunkt 1</option>
															<option>Menüpunkt 1</option>
															<option>Menüpunkt 1</option>
														</select>
													</div>
												</div>
												<div class="row">
													<label for="search-field1">Suchbegriff</label>
													<div class="field-item">
														<input id="search-field1" type="search" placeholder="">
														<button type="submit" class="btn-search"></button>
													</div>
													<a href="#" class="btn-delete">delete</a>
												</div>
											</fieldset>
										</form>
										<ul class="links-list">
											<li><a href="*.pdf">Name des Dokumentes <span class="inline">(1.5 MB)</span></a></li>
											<li><a href="*.zip">Noch ein Link auf ein Dokument <span>(2.2 MB)</span></a></li>
											<li><a href="*.doc">Hier Link auf ein weiteres Dokument <span>(125 KB)</span></a></li>
											<li><a href="*.jpg">Name des Dokumentes <span class="inline">(384 KB)</span></a></li>
											<li><a href="*.ppt">Noch ein Link auf ein Dokument <span>(2.7 MB)</span></a></li>
											<li><a href="*.xls">Hier Link auf ein weiteres Dokument <span>(1.9 MB)</span></a></li>
										</ul>
										<a href="#" class="btn">alle anzeigen (23)</a>
									</div>
								</div>
							</div>
							<ul class="socials-list">
								<li>
									<a href="#" class="gplus">gplus</a>
									<div class="descr">
										<span>Acescid ma dolorum core:</span>
										<a href="#">eosae aut enda sa sae etur sandit</a>
									</div>
								</li>
								<li>
									<a href="#" class="facebook">facebook</a>
									<div class="descr">
										<span>Acescid ma dolorum core:</span>
										<a href="#">eosae aut enda sa sae etur sandit</a>
									</div>
								</li>
								<li>
									<a href="#" class="twitter">twitter</a>
									<div class="descr">
										<span>Acescid ma dolorum core:</span>
										<a href="#">eosae aut enda sa sae etur sandit</a>
									</div>
								</li>
								<li>
									<a href="#" class="youtube">youtube</a>
									<div class="descr">
										<span>Acescid ma dolorum core:</span>
										<a href="#">eosae aut enda sa sae etur sandit</a>
									</div>
								</li>
							</ul>
							<div class="box">
								<div class="heading">
									<h2>Mitarbeiter</h2>
								</div>
								<div class="content">
									<h3>Kontakt</h3>
									<ul class="peoples-list small">
										<li>
											<div class="photo">
												<a href="#">
													<img src="images/img-29.jpg" alt="image description">
												</a>
											</div>
											<div class="descr">
												<strong><a href="#">Vorname Nachname</a></strong>
												<p>Funktion in der Firma</p>
											</div>
										</li>
										<li>
											<div class="photo">
												<a href="#">
													<img src="images/img-30.jpg" alt="image description">
												</a>
											</div>
											<div class="descr">
												<strong><a href="#">Vorname Nachname</a></strong>
												<p>Funktion im der Unternehmung </p>
											</div>
										</li>
										<li>
											<div class="photo">
												<a href="#">
													<img src="images/img-31.jpg" alt="image description">
												</a>
											</div>
											<div class="descr">
												<strong><a href="#">Vorname Nachname</a></strong>
												<p>Funktion in der Firma</p>
											</div>
										</li>
									</ul>
									<ul class="links-list">
										<li><a href="#">Treten Sie mit uns in Kontakt</a></li>
									</ul>
								</div>
							</div>
							<div class="box">
								<div class="heading">
									<h2>Kontakt</h2>
								</div>
								<div class="content">
									<h3>Ihre Ansprechsperson</h3>
									<ul class="peoples-list">
										<li>
											<div class="photo">
												<img src="images/img-32.jpg" alt="image description">
											</div>
											<strong>Vorname Nachname</strong>
											<p>Funktion in der Firma</p>
											<dl>
												<dt>Tel.</dt>
												<dd>+41 44 123 45 67</dd>
											</dl>
											<a href="mailto:mailgadresse@firma.ch">mailgadresse@firma.ch</a>
										</li>
									</ul>
									<a href="#" class="btn">Kontakt</a>
								</div>
							</div>
							<div class="box">
								<div class="heading">
									<h2>Kontakt</h2>
								</div>
								<div class="content">
									<div class="map-holder">
										<img src="images/img-map2.jpg" alt="image description">
									</div>
									<div class="address-info">
										<div class="frame">
											<strong class="title">Adresse</strong>
											<address>tnt-graphics AG <br>Grindelstrasse 12 <br>8303 Bassersdorf</address>
											<dl>
												<dt>Tel.</dt>
												<dd>+41 44 803 24 94</dd>
												<dt>E-Mail:</dt>
												<dd><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#116;&#110;&#116;&#045;&#103;&#114;&#097;&#112;&#104;&#105;&#099;&#115;&#046;&#099;&#104;">&#105;&#110;&#102;&#111;&#064;&#116;&#110;&#116;&#045;&#103;&#114;&#097;&#112;&#104;&#105;&#099;&#115;&#046;&#099;&#104;</a></dd>
											</dl>
										</div>
										<div class="frame">
											<strong class="title">Öffnungszeiten</strong>
											<strong>Montag bis Freitag: </strong>
											<p>08.00 bis 12.00 Uhr, 13.00 bis 17.00 Uhr</p>
											<strong>Samstag: </strong>
											<p>08.00 bis 16.00 Uhr</p>
										</div>
									</div>
									<a href="#" class="btn">Termin vereinbaren</a>
								</div>
							</div>
							<div class="box">
								<div class="heading">
									<h2>Newsletter</h2>
								</div>
								<div class="content">
									<h3>Informiert bleiben</h3>
									<p>Abonniere jetzt unseren Newsletter Acescid ma dolorum core ducia eosae aut enda sa sae qui Textauszeichnung Bold que.</p>
									<form action="#" class="subscribe-form">
										<fieldset>
											<input type="email" placeholder="E-Mail-Adresse">
											<button type="submit">Anmelden</button>
										</fieldset>
									</form>
								</div>
							</div>
							<div class="box">
								<div class="heading">
									<h2>events</h2>
								</div>
								<div class="content">
									<div class="events-block">
										<ul class="links-list">
											<li>
												<a href="#">
													<time datetime="01-01"><strong>19.07.2014</strong> <span>20.00 Uhr</span></time>
													Titelzeile der Veranstaltung
												</a>
											</li>
											<li>
												<a href="#">
													<time datetime="01-01"><strong>17.07.2014 – 18.07.2014</strong></time>
													Hier der Eventtitel
												</a>
											</li>
											<li>
												<a href="#">
													<time datetime="01-01"><strong>16.07.2014</strong> <span>18.30 Uhr</span></time>
													Veranstaltungstitel kann auch über zwei Zeilen gehen
												</a>
											</li>
											<li>
												<a href="#">
													<time datetime="01-01"><strong>15.07.2014</strong> <span>17.30 – 18.30 Uhr</span></time>
													Name der Veranstaltung
												</a>
											</li>
											<li>
												<a href="#">
													<time datetime="01-01"><strong>14.07.2014</strong> <span>16 Uhr</span></time>
													Titel des Events
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- calculate form -->
							<form action="#" class="calculate-form">
								<fieldset>
									<h2>Titel Button gross</h2>
									<p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum.</p>
									<input type="text" placeholder="Texteingabe">
									<div class="row">
										<input type="text" placeholder="Texteingabe">
										<input type="submit" value="aktion">
									</div>
								</fieldset>
							</form>
						</aside>
					</div>
				</div>
			</main>
		</div>
		<!-- footer of the page -->
		<footer id="footer">
			<div class="container">
				<div class="holder">
					<div class="box">
						<ul class="socials">
							<li><a href="#" class="facebook">facebook</a></li>
							<li><a href="#" class="gplus">gplus</a></li>
							<li><a href="#" class="twitter">twitter</a></li>
							<li><a href="#" class="youtube">youtube</a></li>
						</ul>
						<div class="holder">
							<address>
								<strong>Name der Firma</strong>
								Strassenname 3, 8888 Ortschaftsname
							</address>
							<div class="contact">
								<dl>
									<dt>Tel. </dt>
									<dd><a href="tel:41441234567">+41 44 123 45 67</a>,</dd>
								</dl>
								<a href="mailto:&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;">&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;</a>
							</div>
						</div>
					</div>
					<div class="box links-col">
						<strong>Quicklinks</strong>
						<ul class="q-links">
							<li><a href="#">Kontakt</a></li>
							<li><a href="#">Impressum</a></li>
							<li><a href="#">AGBs</a></li>
							<li><a href="#">Sitemap</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- allow a user to go to the top of the page -->
		<a href="#" class="btn-top">back to top</a>
	</div>
	<!-- include jQuery library -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script>
	<!-- include custom JavaScript -->
	<script type="text/javascript" src="js/jquery.main.js"></script>
	<!-- include custom social buttons JavaScript -->
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "c3d61c4d-12a1-4b3a-be64-b933329939a5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</body>
</html>
