<!DOCTYPE html>
<html lang="de">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Osterwalder.com</title>
	<!-- include the site stylesheet -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,900' rel='stylesheet' type='text/css'>
	<link media="all" rel="stylesheet" href="css/all.css">
</head>
<body class="theme-4">
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<!-- container for mobile menu -->
		<div class="w1">
			<!-- header of the page -->
			<header id="header">
				<div class="header-block">
					<div class="container">
						<!-- page logo -->
						<div class="logo"><a href="#"><img src="images/logo-grindel.png" alt="Grindel das sportzentrum"></a></div>
						<div class="frame">
							<!-- search form -->
							<form class="search-form" action="#">
								<fieldset>
									<input type="search" placeholder="Suchbegriff">
									<input type="submit" value="GO">
								</fieldset>
							</form>
						</div>
					</div>
				</div>
				<!-- main navigation of the page -->
				<nav class="navigation">
					<a href="#" class="nav-opener"><span>Menu</span></a>
					<div class="container">
						<ul id="nav">
							<li><a href="#">tennis</a></li>
							<li>
								<a href="#">squash</a>
								<ul>
									<li>
										<a href="#">Subnavigation 1</a>
										<ul>
											<li><a href="#">Subsubnavigationspunkt</a></li>
											<li><a href="#">nocheinnavipunkt</a></li>
											<li><a href="#">navigationspunktdrei</a></li>
											<li><a href="#">derviertepunkt</a></li>
											<li><a href="#">nocheinnavigationspunkt</a></li>
											<li><a href="#">derletzteeintrag</a></li>
										</ul>
									</li>
									<li><a href="#">zweiter Navigationspunkt</a></li>
									<li><a href="#">Navgationspunkt</a></li>
									<li><a href="#">letzter navipunkt  zur not auf zwei zeilen</a></li>
								</ul>
							</li>
							<li><a href="#">minigolf</a></li>
							<li><a href="#">fitness</a></li>
							<li><a href="#">shop</a></li>
							<li><a href="#">über uns</a></li>
						</ul>
						<div class="mobile-block">
							<!-- search form -->
							<form class="search-form" action="#">
								<fieldset>
									<input type="search" placeholder="Suchbegriff">
									<input type="submit" value="GO">
								</fieldset>
							</form>
							<ul class="q-links">
								<li><a href="#">Kontakt</a></li>
								<li><a href="#">Impressum</a></li>
								<li><a href="#">AGBs</a></li>
								<li><a href="#">Sitemap</a></li>
							</ul>
							<div class="address-info">
								<strong>Firmenname</strong>
								<address>
									Strassenname 3 
									<br>8888 Ortschaftsname
									<br><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;">&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;</a>
								</address>
								<a href="tel:41441234567" class="btn">Tel. +41 44 123 45 67</a>
							</div>
						</div>
					</div>
				</nav>
			</header>
			<!-- contain main informative part of the site -->
			<main role="main" id="main">
				<!-- promo -->
				<div class="promo type2">
					<div class="img-holder">
						<img src="images/img-46.jpg" alt="image description">
					</div>
					<div class="text">
						<div class="container">
							<div class="content">
								<h1>Tennis- squash und minigolf im Grindel</h1>
								<p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui.</p>
								<a href="#" class="btn">virtueller rundgang</a>
							</div>
						</div>
					</div>
				</div>
				<!-- intro columns section -->
				<div class="intro-section">
					<div class="container">
						<div class="headline">
							<h2><a href="#">Titelzeile der Newsmeldung</a></h2>
							<p><time datetime="07-19">19.07.2014</time> Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit qui quibearum que. <a class="more" href="#">mehr</a></p>
						</div>
						<div class="holder">
							<div class="col">
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>Minigolf</h2>
									</div>
									<div class="content">
										<a href="#"><img src="images/img-47.jpg" alt="image description"></a>
										<h3><a href="#">Indoor Minigolf</a></h3>
										<p>Minigolfen ist bei uns im Grindel Sportzentrum bei jedem Wetter möglich. Geniessen Sie Minigolf-Spass pur auf unserer Indoor-Anlage.</p>
										<ul class="links">
											<li><a href="#">Infos Minigolf</a></li>
										</ul>
									</div>
								</div>
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>tennis</h2>
									</div>
									<div class="content">
										<a href="#"><img src="images/img-48.jpg" alt="image description"></a>
										<h3><a href="#">Indoor Tennis</a></h3>
										<p>Spielen und Spass haben, so lernt man heute Tennis. Besuchen Sie unsere Tennisschulen mit diplomierten Lehrern. </p>
										<ul class="links">
											<li><a href="#">Tennisplatz buchen</a></li>
											<li><a href="#">Tennisschule NAGY</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col">
								<a href="tel:41448367878" class="btn">Reservieren Sie jetzt einen Tennis- oder Squashplatz: <br>+41 44 836 78 78</a>
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>News</h2>
									</div>
									<div class="content">
										<ul class="news-list no-images">
											<li>
												<div class="descr">
													<h2><a href="#">Tennisdoppestunde auch mittwochs!</a></h2>
													<p><time datetime="01-01">20.11.2014</time> Tennis-Doppelstunde jetzt auch am Mittwoch von 21:00 bis 23:00 Uhr. <br>Beide Stunden für Fr. 66.00. <a href="#" class="more">mehr</a></p>
												</div>
											</li>
											<li>
												<div class="descr">
													<h2><a href="#">Panorama Ansicht vom Grindel</a></h2>
													<p><time datetime="01-01">19.07.2014</time> Panorama Ansicht vom Grindel im Cityguide Zürcher Unterland.  <a href="#" class="more">mehr</a></p>
												</div>
											</li>
											<li>
												<div class="descr">
													<h2><a href="#">60 Jahre Spiel, Sport und Spass!</a></h2>
													<p><time datetime="01-01">19.07.2014</time> Minigolf ist 60 Jahre alt geworden. Die Geschichte des Minigolfs.  <a href="#" class="more">mehr</a></p>
												</div>
											</li>
										</ul>
										<ul class="links">
											<li><a href="#">Weitere News im Newsarchiv</a></li>
										</ul>
									</div>
								</div>
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>events</h2>
									</div>
									<div class="content">
										<div class="events-block">
											<ul class="links-list">
												<li>
													<a href="#">
														<time datetime="01-01">24.01.2015</time>
														Tennis Präsidentencup RVZT
													</a>
												</li>
												<li>
													<a href="#">
														<time datetime="01-01">17.01.2015 – 18.01.2015</time>
														Tennis: Suzuki GP (Junioren)
													</a>
												</li>
												<li>
													<a href="#">
														<time datetime="01-01">31.01.2015</time>
														Minigolf: Team Golf Turnier
													</a>
												</li>
												<li>
													<a href="#">
														<time datetime="01-01">17.02.2015 – 18.02.2015</time>
														Tennis: Suzuki GP (Erwachsene)
													</a>
												</li>
												<li>
													<a href="#">
														<time datetime="01-01">09.05.2015 – 10.05.2015</time>
														Tennis: Junioren Club
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>Squash</h2>
									</div>
									<div class="content">
										<a href="#"><img src="images/img-49.jpg" alt="image description"></a>
										<h3><a href="#">Squash-Anlage</a></h3>
										<p>Unsere drei Squash-Plätze bieten Ihnen die Ideale Voraussetzung für ein schnelles Squash-Vergnügen.</p>
										<ul class="links">
											<li><a href="#">Infos Squash</a></li>
										</ul>
									</div>
								</div>
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>restaurant</h2>
									</div>
									<div class="content">
										<a href="#"><img src="images/img-50.jpg" alt="image description"></a>
										<h3><a href="#">Restaurant Grindel</a></h3>
										<p>Restaurant Grindel – vor oder nach dem Spiel. <br>Täglich für Sie geöffnet. Auch für Festtagessen und Bankette.</p>
										<ul class="links">
											<li><a href="#">www.grindel-restaurant.ch</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<!-- footer of the page -->
		<footer id="footer">
			<div class="container">
				<div class="holder">
					<div class="box">
						<h3>kontakt</h3>
						<div class="holder">
							<address>
								<strong>TSM Grindel AG</strong>
								Grindelstrasse 11 <br>8303 Bassersdorf
							</address>
							<div class="contact">
								<dl>
									<dt>Tel. </dt>
									<dd><a href="tel:41448367878">+41 44 836 78 78</a></dd>
								</dl>
								<a href="mailto:&#105;&#110;&#102;&#111;&#064;&#103;&#114;&#105;&#110;&#100;&#101;&#108;&#045;&#115;&#112;&#111;&#114;&#116;&#046;&#099;&#104;">&#105;&#110;&#102;&#111;&#064;&#103;&#114;&#105;&#110;&#100;&#101;&#108;&#045;&#115;&#112;&#111;&#114;&#116;&#046;&#099;&#104;</a>
							</div>
						</div>
					</div>
					<div class="box">
						<h3>öffnungszeiten</h3>
						<p><strong>Montag bis Samstag:</strong> 7:00 bis 23:00 Uhr <br>(Sommer bis 22:00 Uhr)</p>
						<p><strong>Sonntag:</strong> 7:00 bis 22:00 Uhr</p>
						<a href="#" class="btn ico-map">Lageplan</a>
					</div>
					<div class="box">
						<h3>PREISlisten</h3>
						<ul class="links-list">
							<li><a href="*.pdf">Tennis Winter 2014/15</a></li>
							<li><a href="*.pdf">Squash Winter 2014/15</a></li>
							<li><a href="*.pdf">Minigolf</a></li>
							<li><a href="*.pdf">Tennis Jahresplatz 2014/15</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- allow a user to go to the top of the page -->
		<a href="#" class="btn-top">back to top</a>
	</div>
	<!-- include jQuery library -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script>
	<!-- include custom JavaScript -->
	<script type="text/javascript" src="js/jquery.main.js"></script>
	<!-- include custom social buttons JavaScript -->
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "c3d61c4d-12a1-4b3a-be64-b933329939a5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</body>
</html>
