<!DOCTYPE html>
<html lang="de">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Osterwalder.com</title>
	<!-- include the site stylesheet -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
	<link media="all" rel="stylesheet" href="css/all.css">
</head>
<body class="theme-1">
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<!-- container for mobile menu -->
		<div class="w1">
			<!-- header of the page -->
			<header id="header">
				<div class="header-block">
					<div class="container">
						<!-- page logo -->
						<div class="logo"><a href="#"><img src="images/logo-os.png" alt="Osterwalder"></a></div>
						<div class="add-logo"><a href="#"><img src="images/logo-avia.png" alt="avia"></a></div>
					</div>
				</div>
				<!-- main navigation of the page -->
				<nav class="navigation">
					<a href="#" class="nav-opener"><span>Menu</span></a>
					<div class="container">
						<ul id="nav">
							<li><a href="#">news</a></li>
							<li>
								<a href="#">Heizen</a>
								<ul>
									<li><a href="#">heizöl offerte</a></li>
									<li><a href="#">marktinfos</a></li>
									<li><a href="#">produkte</a></li>
									<li>
										<a href="#">service &amp; dienstleistungen</a>
										<ul>
											<li><a href="#">sorglos service</a></li>
											<li><a href="#">pikettdienst</a></li>
											<li><a href="#">easy oil</a></li>
											<li><a href="#">tankreinigung</a></li>
											<li><a href="#">energiefragen</a></li>
										</ul>
									</li>
									<li><a href="#">Ansprechspartner</a></li>
								</ul>
							</li>
							<li><a href="#">tanken</a></li>
							<li><a href="#">schmieren</a></li>
							<li><a href="#">kundendienst</a></li>
							<li><a href="#">über uns</a></li>
						</ul>
						<div class="mobile-block">
							<!-- search form -->
							<form class="search-form" action="#">
								<fieldset>
									<input type="search" placeholder="Suchbegriff">
									<input type="submit" value="GO">
								</fieldset>
							</form>
							<ul class="q-links">
								<li><a href="#">Kontakt</a></li>
								<li><a href="#">Impressum</a></li>
								<li><a href="#">AGBs</a></li>
								<li><a href="#">Sitemap</a></li>
							</ul>
							<div class="address-info">
								<strong>Firmenname</strong>
								<address>
									Strassenname 3 
									<br>8888 Ortschaftsname
									<br><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;">&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;</a>
								</address>
								<a href="tel:41441234567" class="btn">Tel. +41 44 123 45 67</a>
							</div>
						</div>
					</div>
				</nav>
			</header>
			<!-- contain main informative part of the site -->
			<main role="main" id="main">
				<!-- visual section -->
				<div class="visual">
					<div class="img-holder">
						<img src="images/img-39.jpg" alt="image description">
					</div>
					<div class="container">
						<div class="content">
							<div class="actions">
								<a class="active" href="#">Privatkunden</a>
								<a href="#">Firmenkunden</a>
							</div>
							<h1>Vorteile für privatkunden</h1>
							<p>Acescid ma dolorum core ducia eosae aut enda qui Textauszeichnung quiatecatio vit sam eossundae dit ea. Hier ein weitere Textauszeichnung ileo.</p>
							<a href="#" class="btn">angebot privatkunden</a>
						</div>
					</div>
				</div>
				<!-- intro columns section -->
				<div class="intro-section">
					<div class="container">
						<div class="headline">
							<h2><a href="#">Titelzeile der Newsmeldung</a></h2>
							<p><time datetime="07-19">19.07.2014</time> Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit qui quibearum que. <a class="more" href="#">mehr</a></p>
						</div>
						<div class="holder">
							<div class="col">
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>TANKSTELLE FINDEN</h2>
									</div>
									<div class="content">
										<a href="#"><img src="images/img-40.jpg" alt="image description"></a>
										<h3><a href="#">AVIA-Tankstellen</a></h3>
										<p>Partnerschaften entwickeln sich durch Qualität, Vertrauen und Verfügbarkeit. <b>Mit rund 630 Tankstellen unterhält AVIA das grösste Netz der Schweiz. </b></p>
										<a href="#" class="btn">tankstelle finden</a>
									</div>
								</div>
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>AVIA-KARTE</h2>
									</div>
									<div class="content">
										<h3><a href="#">AVIA-Karte bestellen</a></h3>
										<p><b>Die Karte, mit der Sie weiterkommen.</b> <br class="no-tablet"> AVIA offeriert Ihnen die Tankkarte mit einzigartigen Serviceleistungen und Preisvorteilen.</p>
										<div class="links-holder">
											<strong class="title">AVIA-Karte hier bestellen</strong>
											<ul class="links">
												<li><a href="#">AVIA-Karte für Privatkunden</a></li>
												<li><a href="#">AVIA-Karte für Geschäftskunden</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<!-- calculate form -->
								<form action="#" class="calculate-form">
									<fieldset>
										<h2>Heizölofferte berechnen</h2>
										<p><b>Berechnen Sie auf Basis des aktuellen Tagespreis Ihre Heizölfferte.</b> Einfach, rasch und abgestimmt auf Ihre Bedürfnisse.</p>
										<input type="text" placeholder="Wohnort (PLZ)">
										<div class="row">
											<input type="text" placeholder="liter">
											<input type="submit" value="Berechnen">
										</div>
									</fieldset>
								</form>
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>Kundendienst</h2>
									</div>
									<div class="content">
										<a href="#"><img src="images/img-42.jpg" alt="image description"></a>
										<h3><a href="#">Kundendienst online</a></h3>
										<p>Ob Adressänderungen, die Bestellung einer neuen AVIA-Karte oder Fragen zur AVIA-Karte: <br><b>Hier erreichen Sie uns unkompliziert und unabhängig von Bürozeiten.</b></p>
										<a href="#" class="btn">kundendienst</a>
									</div>
								</div>
							</div>
							<div class="col">
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>EASY OIL</h2>
									</div>
									<div class="content">
										<a href="#"><img src="images/img-41.jpg" alt="image description"></a>
										<h3><a href="#">EASY OIL</a></h3>
										<p><b>Die perfekte Fernüberwachung von Heizöltanks.</b> Mit unserem Messsystem können Sie jederzeit via Internet den aktuellen Ölstand im Tank abrufen.</p>
										<a href="#" class="btn">infos zu easy oil</a>
									</div>
								</div>
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>Heizen</h2>
									</div>
									<div class="content">
										<h3><a href="#">Sorglos Heizen</a></h3>
										<p>Profitieren auch Sie von unseren Dienstleistungen rund ums Thema Heizen.</p>
										<div class="links-holder">
											<ul class="links">
												<li><a href="#">Sorglos-Service</a></li>
												<li><a href="#">Pikettdienst</a></li>
												<li><a href="#">Tankreinigungen</a></li>
												<li><a href="#">Beratung bei Energiefragen</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<!-- footer of the page -->
		<footer id="footer">
			<div class="container">
				<div class="holder">
					<div class="box">
						<h3>Kontakt</h3>
						<address><strong>OSTERWALDER ST. GALLEN AG</strong>Geschäftsstelle <br>Oberstrasse 141 <br>9013 St. Gallen</address>
						<div class="contact">
							<dl>
								<dt>Tel.</dt>
								<dd><a href="tel:41443078888">+41 71 272 27 27</a></dd>
								<dt>Fax</dt>
								<dd><a href="tel:41443078808">+41 71 272 27 00</a></dd>
							</dl>
							<a href="mailto:&#105;&#110;&#102;&#111;&#064;&#111;&#115;&#116;&#101;&#114;&#119;&#097;&#108;&#100;&#101;&#114;&#045;&#115;&#103;&#046;&#099;&#104;">&#105;&#110;&#102;&#111;&#064;&#111;&#115;&#116;&#101;&#114;&#119;&#097;&#108;&#100;&#101;&#114;&#045;&#115;&#103;&#046;&#099;&#104;</a>
						</div>
						<a href="#" class="btn ico-contact">Kontakt</a>
						<a href="#" class="btn ico-map">Lageplan</a>
					</div>
					<div class="box">
						<h3>Filialen</h3>
						<div class="contact">
							<strong>Filiale Chur</strong>
							<dl>
								<dt>Tel. </dt>
								<dd><a href="tel:41812584200">+41 81 258 42 00</a></dd>
								<dt>Fax</dt>
								<dd><a href="tel:41812584209">+41 81 258 42 09</a></dd>
							</dl>
							<a href="mailto:&#099;&#104;&#117;&#114;&#064;&#111;&#115;&#116;&#101;&#114;&#119;&#097;&#108;&#100;&#101;&#114;&#046;&#099;&#104;">&#099;&#104;&#117;&#114;&#064;&#111;&#115;&#116;&#101;&#114;&#119;&#097;&#108;&#100;&#101;&#114;&#046;&#099;&#104;</a>
						</div>
						<div class="contact">
							<strong>Filiale Davos</strong>
							<dl>
								<dt>Tel. </dt>
								<dd><a href="tel:41814162232">+41 81 416 22 32</a></dd>
								<dt>Fax</dt>
								<dd><a href="tel:41814165127">+41 81 416 51 27</a></dd>
							</dl>
							<a href="mailto:&#100;&#097;&#118;&#111;&#115;&#064;&#111;&#115;&#116;&#101;&#114;&#119;&#097;&#108;&#100;&#101;&#114;&#046;&#099;&#104;">&#100;&#097;&#118;&#111;&#115;&#064;&#111;&#115;&#116;&#101;&#114;&#119;&#097;&#108;&#100;&#101;&#114;&#046;&#099;&#104;</a>
						</div>
					</div>
					<div class="box">
						<!-- search form -->
						<form class="search-form" action="#">
							<fieldset>
								<input type="search" placeholder="Suchbegriff">
								<input type="submit" value="GO">
							</fieldset>
						</form>
						<ul class="links">
							<li><a href="#">Startseite AVIA Osterwalder</a></li>
							<li><a href="#">AVIA Osterwalder Zürich</a></li>
						</ul>
						<ul class="footer-nav">
							<li><a href="#">Impressum</a></li>
							<li><a href="#">Sitemap</a></li>
						</ul>
						<div class="copyright">
							<p>&copy; Copyright by <a href="#">Osterwalder</a></p>
							<p>Code &amp; Design by <a href="#">tnt-graphics</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- allow a user to go to the top of the page -->
		<a href="#" class="btn-top">back to top</a>
	</div>
	<!-- include jQuery library -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script>
	<!-- include custom JavaScript -->
	<script type="text/javascript" src="js/jquery.main.js"></script>
	<!-- include custom social buttons JavaScript -->
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "c3d61c4d-12a1-4b3a-be64-b933329939a5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</body>
</html>
