<!DOCTYPE html>
<html lang="de">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Osterwalder.com</title>
	<!-- include the site stylesheet -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,900,400italic' rel='stylesheet' type='text/css'>
	<link media="all" rel="stylesheet" href="css/all.css">
</head>
<body class="theme-5">
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<!-- container for mobile menu -->
		<div class="w1">
			<!-- header of the page -->
			<header id="header">
				<div class="header-block">
					<div class="container">
						<!-- page logo -->
						<div class="logo"><a href="#"><img src="images/logo-bosiger.png" alt="pneu bosiger langenthal"></a></div>
					</div>
				</div>
				<!-- main navigation of the page -->
				<nav class="navigation">
					<a href="#" class="nav-opener"><span>Menu</span></a>
					<div class="container">
						<ul id="nav">
							<li><a href="#">pneuservice</a></li>
							<li>
								<a href="#">Auto</a>
								<ul>
									<li>
										<a href="#">Subnavigation 1</a>
										<ul>
											<li><a href="#">Subsubnavigationspunkt</a></li>
											<li><a href="#">nocheinnavipunkt</a></li>
											<li><a href="#">navigationspunktdrei</a></li>
											<li><a href="#">derviertepunkt</a></li>
											<li><a href="#">nocheinnavigationspunkt</a></li>
											<li><a href="#">derletzteeintrag</a></li>
										</ul>
									</li>
									<li><a href="#">zweiter Navigationspunkt</a></li>
									<li><a href="#">Navgationspunkt</a></li>
									<li><a href="#">letzter navipunkt  zur not auf zwei zeilen</a></li>
								</ul>
							</li>
							<li><a href="#">über uns</a></li>
							<li><a href="#">mit WIR bezahlen </a></li>
						</ul>
						<div class="mobile-block">
							<!-- search form -->
							<form class="search-form" action="#">
								<fieldset>
									<input type="search" placeholder="Suchbegriff">
									<input type="submit" value="GO">
								</fieldset>
							</form>
							<ul class="q-links">
								<li><a href="#">Kontakt</a></li>
								<li><a href="#">Impressum</a></li>
								<li><a href="#">AGBs</a></li>
								<li><a href="#">Sitemap</a></li>
							</ul>
							<div class="address-info">
								<strong>Firmenname</strong>
								<address>
									Strassenname 3 
									<br>8888 Ortschaftsname
									<br><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;">&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;</a>
								</address>
								<a href="tel:41441234567" class="btn">Tel. +41 44 123 45 67</a>
							</div>
						</div>
					</div>
				</nav>
			</header>
			<!-- contain main informative part of the site -->
			<main role="main" id="main">
				<!-- main slideshow -->
				<div class="slideshow-autorotate">
					<div class="mask">
						<div class="slideset">
							<div class="slide active">
								<div class="img-holder"><img src="images/gallery-img-01.jpg" alt="image description"> </div>
								<div class="text">
									<div class="container">
										<div class="content">
											<h1>Ihr pneu-profi in langenthal</h1>
											<p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum quiatecatio vit esseque qui ut fugit.</p>
											<a href="#" class="btn">autoservice</a>
										</div>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="img-holder"><img src="images/gallery-img-02.jpg" alt="image description"> </div>
								<div class="text">
									<div class="container">
										<div class="content">
											<h1>mieten Sie unseren Tesla</h1>
											<p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum quiatecatio vit esseque qui ut fugit quibearum.</p>
											<a href="#" class="btn">tesla mieten</a>
										</div>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="img-holder"><img src="images/gallery-img-03.jpg" alt="image description"> </div>
								<div class="text">
									<div class="container">
										<div class="content">
											<h1>Ihr pneu-spezialist in langenthal</h1>
											<p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum quiatecatio vit esseque qui ut fugit quibearum.</p>
											<a href="#" class="btn">autoservice</a>
										</div>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="img-holder"><img src="images/gallery-img-04.jpg" alt="image description"> </div>
								<div class="text">
									<div class="container">
										<div class="content">
											<h1>Ihr pneu-spezialist in langenthal</h1>
											<p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum quiatecatio vit esseque qui ut fugit quibearum.</p>
											<a href="#" class="btn">autoservice</a>
										</div>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="img-holder"><img src="images/gallery-img-05.jpg" alt="image description"> </div>
								<div class="text">
									<div class="container">
										<div class="content">
											<h1>pannenfrei durch den frühling</h1>
											<p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum quiatecatio vit esseque qui ut fugit quibearum.</p>
											<a href="#" class="btn">autoservice</a>
										</div>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="img-holder"><img src="images/gallery-img-06.jpg" alt="image description"> </div>
								<div class="text">
									<div class="container">
										<div class="content">
											<h1>oldtimer mieten</h1>
											<p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum quiatecatio vit esseque qui ut fugit quibearum.</p>
											<a href="#" class="btn">oldtimer mieten</a>
										</div>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="img-holder"><img src="images/gallery-img-07.jpg" alt="image description"> </div>
								<div class="text">
									<div class="container">
										<div class="content">
											<h1>Jetzt winterreifen montieren</h1>
											<p>Der erste Schnee ist nicht mehr weit. Kommen Sie bei uns vorbei und lassen Sie Ihre Winterreifen montieren. <br><b>Profitieren Sie von unserer Pneu-Aktion!</b></p>
											<a href="#" class="btn">Kontakt</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- intro columns section -->
				<div class="intro-section">
					<div class="container">
						<div class="holder">
							<div class="col">
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>100% mit WIR bezahlen</h2>
									</div>
									<div class="content">
										<a href="#"><img src="images/img-51.jpg" alt="image description"></a>
										<h3><a href="#">100% mit WIR bezahlen!</a></h3>
										<p>Bezahlen Sie Ihr gewünschtes Auto mit 100% WIR inkl. MWST. Acescid ma dolorum core </p>
										<a href="#" class="btn">infos wir-bezahlung</a>
									</div>
								</div>
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>AUtoverkauf</h2>
									</div>
									<div class="content">
										<a href="#"><img src="images/img-52.jpg" alt="image description"></a>
										<h3><a href="#">Angebot Fahrzeuge</a></h3>
										<p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatsa sae.</p>
										<a href="#" class="btn">Zum Autoverkauf</a>
									</div>
								</div>
							</div>
							<div class="col">
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>pneuVerkauf</h2>
									</div>
									<div class="content">
										<a href="#"><img src="images/img-53.jpg" alt="image description"></a>
										<h3><a href="#">Sicher durch den Winter</a></h3>
										<p>Verkauf von Pneus für PWs, Offroader, Lieferwagen, Lastwagen, Motorräder u.v.m</p>
										<a href="#" class="btn">infos Pneuservice</a>
									</div>
								</div>
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>oldtimer</h2>
									</div>
									<div class="content">
										<a href="#"><img src="images/img-54.jpg" alt="image description"></a>
										<h3><a href="#">Oldtimer mieten</a></h3>
										<p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatecatio vit.</p>
										<a href="#" class="btn">Oldtimer mieten</a>
									</div>
								</div>
							</div>
							<div class="col">
								<a href="#" class="btn">Profitieren Sie jetzt von unserer pneu-aktion! <br>10% Rabatt auf alle Winterpneus.</a>
								<!-- post box -->
								<div class="box">
									<div class="heading">
										<h2>AutoService</h2>
									</div>
									<div class="content">
										<a href="#"><img src="images/img-55.jpg" alt="image description"></a>
										<h3><a href="#">Unser Autoservice</a></h3>
										<p>Acescid ma dolorum core ducia eosae aut enda sa sae etur sandit qui quiatsa sae etur sandit qui quiatecatio vit esseque qui ut fugit quibearum que veribea sam.ecatio vit esseque qui ut fugit quibearum que veribea sam.</p>
										<ul class="links">
											<li><a href="#">Autowaschservice</a></li>
											<li><a href="#">Klimaservice</a></li>
											<li><a href="#">Lenkgeometrie</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<!-- footer of the page -->
		<footer id="footer">
			<div class="container">
				<div class="holder">
					<div class="box">
						<h3>Kontakt</h3>
						<address><b>Pneu Bösiger AG</b> <br>Lotzwilstrasse 66 <br>4900 Langenthal</address>
						<div class="contact">
							<dl>
								<dt>Tel.</dt>
								<dd><a href="tel:41629190101">+41 62 919 01 01</a></dd>
								<dt>Fax </dt>
								<dd><a href="tel:41629190101">+41 62 919 01 01</a></dd>
							</dl>
							<a href="mailto:&#112;&#110;&#101;&#117;&#064;&#112;&#110;&#101;&#117;&#098;&#111;&#101;&#115;&#105;&#103;&#101;&#114;&#046;&#099;&#104;">&#112;&#110;&#101;&#117;&#064;&#112;&#110;&#101;&#117;&#098;&#111;&#101;&#115;&#105;&#103;&#101;&#114;&#046;&#099;&#104;</a>
						</div>
						<a href="#" class="btn ico-contact">Kontakt</a>
						<a href="#" class="btn ico-map">Lageplan</a>
					</div>
					<div class="box">
						<div class="holder">
							<h3>Vermietung / Verkauf</h3>
							<p><b>Autovermietung / Verkauf:</b> Tel. +41 62 919 01 03</p>
							<p><b>E-Mail:</b> <a href="mailto:&#105;&#110;&#102;&#111;&#064;&#112;&#110;&#101;&#117;&#098;&#111;&#101;&#115;&#105;&#103;&#101;&#114;&#046;&#099;&#104;">&#105;&#110;&#102;&#111;&#064;&#112;&#110;&#101;&#117;&#098;&#111;&#101;&#115;&#105;&#103;&#101;&#114;&#046;&#099;&#104;</a></p>
						</div>
						<div class="holder">
							<h3>Öffnungszeiten</h3>
							<p><b>Montag–Freitag:</b> <time datetime="01-01"><span>08.00–12.00</span> <span>• 13.30–18.30 Uhr</span></time></p>
							<p><b>Samstag:</b> <time datetime="01-01">08.00–12.00 Uhr</time></p>
						</div>
					</div>
					<div class="box">
						<h3>pneu bösiger</h3>
						<p>Ur si ut volupta pratectur? Doles dolorum in eosserat ant, ut doluptatia nem quunt maxim facillam alicidio quatem re volum doluptiam susam aperum ut quias ipit quevolum.</p>
						<a href="#" class="btn">Über uns</a>
					</div>
				</div>
			</div>
		</footer>
		<!-- allow a user to go to the top of the page -->
		<a href="#" class="btn-top">back to top</a>
	</div>
	<!-- include jQuery library -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script>
	<!-- include custom JavaScript -->
	<script type="text/javascript" src="js/jquery.main.js"></script>
	<!-- include custom social buttons JavaScript -->
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "c3d61c4d-12a1-4b3a-be64-b933329939a5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</body>
</html>
