<div id="wrapper">
	<div class="w1">
		<header id="header">
			<f:format.html parseFuncTSPath="">{header}</f:format.html>		
		</header>
		<main role="main" id="main">
			<f:format.html parseFuncTSPath="">{slideshow}</f:format.html>
			<div class="intro-section">
				<div class="container">
					<!--TYPO3SEARCH_begin-->
					  	<f:format.html parseFuncTSPath="">{news}</f:format.html>
					<!--TYPO3SEARCH_end-->
					<div class="holder">
						
						<!--TYPO3SEARCH_begin-->
					  		<f:format.html parseFuncTSPath="">{content}</f:format.html>
					  	<!--TYPO3SEARCH_end-->
							
			
					</div>
				</div>
			</div>
		</main>
	</div>
	<footer id="footer">
		<f:format.html parseFuncTSPath="">{footer}</f:format.html>
	</footer>
	<a href="#" class="btn-top">back to top</a>
</div>