<!DOCTYPE html>
<html lang="de">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Osterwalder.com</title>
	<!-- include the site stylesheet -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
	<link media="all" rel="stylesheet" href="css/all.css">
</head>
<body>
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<!-- container for mobile menu -->
		<div class="w1">
			<!-- header of the page -->
			<header id="header">
				<div class="header-block">
					<div class="container">
						<!-- page logo -->
						<div class="logo"><a href="#"><img src="images/logo.png" alt="Logo"></a></div>
						<div class="set-lang">
							<a href="#" class="selected">DE</a>
							<ul>
								<li><a href="#">Deutsch</a></li>
								<li><a href="#">Francais</a></li>
								<li><a href="#">English</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- main navigation of the page -->
				<nav class="navigation">
					<a href="#" class="nav-opener"><span>Menu</span></a>
					<div class="container">
						<ul id="nav">
							<li><a href="#">LinK</a></li>
							<li>
								<a href="#">hiereinlink</a>
								<ul>
									<li>
										<a href="#">Subnavigation 1</a>
										<ul>
											<li><a href="#">Subsubnavigationspunkt</a></li>
											<li><a href="#">nocheinnavipunkt</a></li>
											<li><a href="#">navigationspunktdrei</a></li>
											<li><a href="#">derviertepunkt</a></li>
											<li><a href="#">nocheinnavigationspunkt</a></li>
											<li><a href="#">derletzteeintrag</a></li>
										</ul>
									</li>
									<li><a href="#">zweiter Navigationspunkt</a></li>
									<li><a href="#">Navgationspunkt</a></li>
									<li><a href="#">letzter navipunkt  zur not auf zwei zeilen</a></li>
								</ul>
							</li>
							<li><a href="#">linkdrei</a></li>
							<li><a href="#">einlink</a></li>
							<li><a href="#">Letzterlink</a></li>
						</ul>
						<div class="mobile-block">
							<!-- search form -->
							<form class="search-form" action="#">
								<fieldset>
									<input type="search" placeholder="Suchbegriff">
									<input type="submit" value="GO">
								</fieldset>
							</form>
							<ul class="q-links">
								<li><a href="#">Kontakt</a></li>
								<li><a href="#">Impressum</a></li>
								<li><a href="#">AGBs</a></li>
								<li><a href="#">Sitemap</a></li>
							</ul>
							<div class="address-info">
								<strong>Firmenname</strong>
								<address>
									Strassenname 3 
									<br>8888 Ortschaftsname
									<br><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;">&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;</a>
								</address>
								<a href="tel:41441234567" class="btn">Tel. +41 44 123 45 67</a>
							</div>
						</div>
					</div>
				</nav>
			</header>
			<!-- contain main informative part of the site -->
			<main role="main" id="main">
				<!-- main slideshow -->
				<div class="slideshow">
					<div class="mask">
						<div class="slideset">
							<div class="slide">
								<div class="img-holder"><img src="images/img-01.jpg" alt="image description"> </div>
								<div class="text">
									<div class="holder">
										<div class="frame">
											<div class="container">
												<div class="content">
													<h1>Hier die Titelzeile der Website</h1>
													<p>Acescid ma dolorum core ducia eosae aut enda qui Text auszeichnung qui atecatio vit sam eossundae dit ea. Hier ein weitere Textauszeichnung inctio ileo sae quiatecatio vit sam eossundae dit ea. aut enda sa sae etur sandit qui quiatecatquiatecatio vit sam eossun dae dit ea quiatecatio.</p>
													<a href="#" class="btn">Link fürs Textelement</a>
													<h2>Dienstleistungen</h2>
													<ul class="links-list">
														<li><a href="#">Link auf Dienstleistung</a></li>
														<li><a href="#">Noch eine Dienstleistung</a></li>
														<li><a href="#">Der dritte Link hier</a></li>
														<li><a href="#">Eine Rubrik der Leistung</a></li>
														<li><a href="#">Die fünfte Leistung</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="img-holder"><img src="images/img-01.jpg" alt="image description"> </div>
								<div class="text">
									<div class="holder">
										<div class="frame">
											<div class="container">
												<div class="content">
													<h1>Hier die Titelzeile der Website</h1>
													<p>Acescid ma dolorum core ducia eosae aut enda qui Text auszeichnung qui atecatio vit sam eossundae dit ea. Hier ein weitere Textauszeichnung inctio ileo sae quiatecatio vit sam eossundae dit ea. aut enda sa sae etur sandit qui quiatecatquiatecatio vit sam eossun dae dit ea quiatecatio.</p>
													<a href="#" class="btn">Link fürs Textelement</a>
													<h2>Dienstleistungen</h2>
													<ul class="links-list">
														<li><a href="#">Link auf Dienstleistung</a></li>
														<li><a href="#">Noch eine Dienstleistung</a></li>
														<li><a href="#">Der dritte Link hier</a></li>
														<li><a href="#">Eine Rubrik der Leistung</a></li>
														<li><a href="#">Die fünfte Leistung</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="img-holder"><img src="images/img-01.jpg" alt="image description"> </div>
								<div class="text">
									<div class="holder">
										<div class="frame">
											<div class="container">
												<div class="content">
													<h1>Hier die Titelzeile der Website</h1>
													<p>Acescid ma dolorum core ducia eosae aut enda qui Text auszeichnung qui atecatio vit sam eossundae dit ea. Hier ein weitere Textauszeichnung inctio ileo sae quiatecatio vit sam eossundae dit ea. aut enda sa sae etur sandit qui quiatecatquiatecatio vit sam eossun dae dit ea quiatecatio.</p>
													<a href="#" class="btn">Link fürs Textelement</a>
													<h2>Dienstleistungen</h2>
													<ul class="links-list">
														<li><a href="#">Link auf Dienstleistung</a></li>
														<li><a href="#">Noch eine Dienstleistung</a></li>
														<li><a href="#">Der dritte Link hier</a></li>
														<li><a href="#">Eine Rubrik der Leistung</a></li>
														<li><a href="#">Die fünfte Leistung</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="img-holder"><img src="images/img-01.jpg" alt="image description"> </div>
								<div class="text">
									<div class="holder">
										<div class="frame">
											<div class="container">
												<div class="content">
													<h1>Hier die Titelzeile der Website</h1>
													<p>Acescid ma dolorum core ducia eosae aut enda qui Text auszeichnung qui atecatio vit sam eossundae dit ea. Hier ein weitere Textauszeichnung inctio ileo sae quiatecatio vit sam eossundae dit ea. aut enda sa sae etur sandit qui quiatecatquiatecatio vit sam eossun dae dit ea quiatecatio.</p>
													<a href="#" class="btn">Link fürs Textelement</a>
													<h2>Dienstleistungen</h2>
													<ul class="links-list">
														<li><a href="#">Link auf Dienstleistung</a></li>
														<li><a href="#">Noch eine Dienstleistung</a></li>
														<li><a href="#">Der dritte Link hier</a></li>
														<li><a href="#">Eine Rubrik der Leistung</a></li>
														<li><a href="#">Die fünfte Leistung</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="img-holder"><img src="images/img-01.jpg" alt="image description"> </div>
								<div class="text">
									<div class="holder">
										<div class="frame">
											<div class="container">
												<div class="content">
													<h1>Hier die Titelzeile der Website</h1>
													<p>Acescid ma dolorum core ducia eosae aut enda qui Text auszeichnung qui atecatio vit sam eossundae dit ea. Hier ein weitere Textauszeichnung inctio ileo sae quiatecatio vit sam eossundae dit ea. aut enda sa sae etur sandit qui quiatecatquiatecatio vit sam eossun dae dit ea quiatecatio.</p>
													<a href="#" class="btn">Link fürs Textelement</a>
													<h2>Dienstleistungen</h2>
													<ul class="links-list">
														<li><a href="#">Link auf Dienstleistung</a></li>
														<li><a href="#">Noch eine Dienstleistung</a></li>
														<li><a href="#">Der dritte Link hier</a></li>
														<li><a href="#">Eine Rubrik der Leistung</a></li>
														<li><a href="#">Die fünfte Leistung</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="switcher"></div>
					</div>
				</div>
			</main>
		</div>
		<!-- footer of the page -->
		<footer id="footer">
			<div class="container">
				<div class="holder">
					<div class="box">
						<h3>Adressblock</h3>
						<address><b>Firmenname</b> <br>Strassenname 3 <br>8888 Ortschaftsname</address>
						<div class="contact">
							<dl>
								<dt>Tel.</dt>
								<dd><a href="tel:41441234567">+41 44 123 45 67</a></dd>
							</dl>
							<a href="mailto:&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;">&#105;&#110;&#102;&#111;&#064;&#102;&#105;&#114;&#109;&#101;&#110;&#110;&#097;&#109;&#101;</a>
						</div>
						<a href="#" class="btn ico-contact">Kontakt</a>
						<a href="#" class="btn ico-map">Lageplan</a>
					</div>
					<div class="box">
						<h3>Text / Bild klein</h3>
						<ul class="news-list">
							<li>
								<div class="img-holder">
									<a href="#"><img alt="image description" src="images/img-25.jpg"></a>
								</div>
								<div class="descr">
									<strong>Oberzeile</strong>
									<h2><a href="#">Titelzeile zum ersten Eintrag</a></h2>
								</div>
							</li>
							<li>
								<div class="img-holder">
									<a href="#"><img alt="image description" src="images/img-26.jpg"></a>
								</div>
								<div class="descr">
									<strong>Oberzeile</strong>
									<h2><a href="#">News, Galerien, Referenzen oder  ähnliches</a></h2>
								</div>
							</li>
							<li>
								<div class="img-holder">
									<a href="#"><img alt="image description" src="images/img-27.jpg"></a>
								</div>
								<div class="descr">
									<strong>Oberzeile</strong>
									<h2><a href="#">Titelzeile zum ersten Eintrag</a></h2>
								</div>
							</li>
						</ul>
					</div>
					<div class="box">
						<h3>Textelement</h3>
						<p>Ur si ut volupta pratectur? Doles dolorum in eosserat ant, ut doluptatia nem quunt maxim facillam alicidio quatem re volum doluptiam susam aperum ut quias ipit quevolum doluptiam susam aperum ut quias ipit que se dolorro tecesecabo Itaquat.</p>
						<a href="#" class="btn">Button Textelement</a>
					</div>
				</div>
			</div>
			<div class="footer-bar">
				<div class="container">
					<div class="holder">
						<div class="box">
							<ul class="footer-nav">
								<li><a href="#">Impressum</a></li>
								<li><a href="#">Sitemap</a></li>
							</ul>
							<!-- search form -->
							<form class="search-form" action="#">
								<fieldset>
									<input type="search" placeholder="Suchbegriff">
									<input type="submit" value="GO">
								</fieldset>
							</form>
						</div>
						<div class="box">
							<form action="#" class="subscribe-form">
								<fieldset>
									<label for="subscribe-field">Beim Newsletter anmelden:</label>
									<div class="row">
										<input id="subscribe-field" type="email" placeholder="E-Mail">
										<button type="submit">Anmelden</button>
									</div>
								</fieldset>
							</form>
						</div>
						<div class="box">
							<ul class="socials">
								<li><a href="#" class="facebook">facebook</a></li>
								<li><a href="#" class="gplus">gplus</a></li>
								<li><a href="#" class="twitter">twitter</a></li>
								<li><a href="#" class="youtube">youtube</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- allow a user to go to the top of the page -->
		<a href="#" class="btn-top">back to top</a>
	</div>
	<!-- include jQuery library -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script>
	<!-- include custom JavaScript -->
	<script type="text/javascript" src="js/jquery.main.js"></script>
	<!-- include custom social buttons JavaScript -->
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "c3d61c4d-12a1-4b3a-be64-b933329939a5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</body>
</html>
